## Imports

In [108]:
import pmp_functions_v5 as pmp
import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt

## Data

### Strategies

In [ ]:
fundamental_equity = pd.read_csv("../Results/fundamental_equity.csv", index_col=0, parse_dates=True)

# --- Macro RS Data ---
macroRS_equity = pd.read_csv("../Results/macroRS_equity.csv", index_col=0, parse_dates=True)

# --- Trend Following Data ---
trend_equity = pd.read_csv("../Results/trend_equity.csv", index_col=0, parse_dates=True)
trend_bond = pd.read_csv("../Results/trend_bond.csv", index_col=0, parse_dates=True)
trend_rates = pd.read_csv("../Results/trend_rates.csv", index_col=0, parse_dates=True)
trend_fx = pd.read_csv("../Results/trend_fx.csv", index_col=0, parse_dates=True)

In [110]:
fundamental_equity.rename(columns={"w_GB": "w_UK"}, inplace=True)
fundamental_equity

,ret_net,ret_gross,ret_bm,turnover,tcost,ret_rf,w_AU,w_CH,w_EM,w_EU,w_UK,w_JP,w_US
Date,,,,,,,,,,,,,
2000-10-31,-0.014490,-0.014490,-0.017086,0.516370,0.0,0.006621,0.000000,0.000000,0.000000,0.000000,-0.670686,0.166702,0.195352
2000-11-30,0.014938,0.014938,-0.060660,0.564591,0.0,0.004208,0.000000,0.000000,0.000000,0.000000,-0.151213,-0.288488,0.027816
2000-12-31,0.013422,0.013422,0.015919,0.411406,0.0,0.006017,0.000000,0.000000,0.000000,0.000000,0.297918,0.026906,-0.049995
2001-01-31,-0.003768,-0.003768,0.019408,0.091338,0.0,0.006319,0.000000,0.000000,0.000000,0.000000,0.336243,0.153146,-0.018464
2001-02-28,-0.000051,-0.000051,-0.084288,0.238369,0.0,0.003807,0.000000,0.000000,0.000000,0.000000,0.387156,0.003257,-0.292580
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-06-30,0.004282,0.004282,0.043488,0.434028,0.0,0.004008,0.249290,-0.227893,-0.518467,-0.343646,0.240491,-0.325362,0.924918
2025-07-31,0.002353,0.002353,0.013121,1.024281,0.0,0.004409,0.140290,0.089234,-0.381472,-0.220241,0.249742,0.098141,0.097146
2025-08-31,-0.008566,-0.008566,0.026408,1.295210,0.0,0.000000,-0.150868,0.594002,-0.041226,0.074783,-0.376826,-0.340647,0.195866
2025-09-30,0.021532,0.021532,0.032574,0.656486,0.0,0.000000,-0.505215,0.603567,0.408374,0.283216,-0.457860,-0.366861,-0.018122
2025-10-31,-0.010469,-0.010469,0.020226,0.980175,0.0,0.000000,-0.261396,0.847166,0.097756,0.104915,-0.195948,-0.184342,-0.506121

In [111]:
macroRS_equity

,ret_net,ret_gross,ret_bm,turnover,tcost,ret_rf,w_US,w_AU,w_CH,w_JP,w_UK,w_EM,w_EU
Date,,,,,,,,,,,,,
2002-09-30,-0.066517,-0.066517,-0.109650,0.000000,0.0,0.0014,0.268583,-0.447638,-0.268583,-0.089528,0.089528,0.000000,0.447638
2002-10-31,0.073873,0.073873,0.073988,0.199622,0.0,0.0014,0.251655,-0.419426,-0.083885,-0.251655,0.083885,0.000000,0.419426
2002-11-30,0.017593,0.017593,0.054137,0.558988,0.0,0.0012,0.077098,-0.385488,-0.231293,0.231293,-0.077098,0.000000,0.385488
2002-12-31,-0.018405,-0.018405,-0.048213,0.169611,0.0,0.0011,0.232829,-0.388048,-0.232829,0.077610,-0.077610,0.000000,0.388048
2003-01-31,-0.026167,-0.026167,-0.030204,0.322039,0.0,0.0010,0.231576,-0.385960,-0.077192,-0.231576,0.077192,0.000000,0.385960
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-06-30,-0.010496,-0.010496,0.043488,0.280533,0.0,0.0034,0.258529,0.387794,-0.258529,-0.129265,0.129265,-0.387794,0.000000
2025-07-31,0.004953,0.004953,0.013121,0.423485,0.0,0.0034,0.256938,0.385408,0.128469,-0.128469,0.000000,-0.385408,-0.256938
2025-08-31,0.018012,0.018012,0.026408,0.795353,0.0,0.0038,-0.131010,0.393031,0.262021,0.131010,-0.262021,0.000000,-0.393031
2025-09-30,-0.004489,-0.004489,0.032574,0.944090,0.0,0.0033,0.134112,0.268224,0.402335,-0.268224,0.000000,-0.402335,-0.134112
2025-10-31,0.137316,0.137316,0.020226,0.483279,0.0,0.0037,0.164534,0.493601,0.329068,-0.493601,0.000000,-0.164534,-0.329068

### Asset Data

In [112]:
# --- Load Equity Price Data ---
equity_prices = pd.read_excel(
    "../Data_Ryan/Equity Data.xlsx",
    index_col = 0,
    parse_dates = True
)
equity_prices.index = pd.to_datetime(equity_prices.index)
equity_prices.index = equity_prices.index + pd.offsets.MonthEnd(0)

equity_prices

,US,AU,CH,JP,UK,EM,EU
Date,,,,,,,
1997-09-30,1206.821289,NaN,NaN,7.33429,7487.55371,NaN,NaN
1997-10-31,1168.258667,NaN,NaN,6.82642,7084.46436,NaN,NaN
1997-11-30,1207.453491,NaN,NaN,6.34016,7152.55615,NaN,NaN
1997-12-31,1223.840210,NaN,NaN,5.86087,7365.37451,NaN,NaN
1998-01-31,1234.778442,NaN,NaN,6.36481,7690.75049,NaN,NaN
...,...,...,...,...,...,...,...
2025-06-30,6308.888672,5641.31592,14994.83984,19.64406,12121.12598,14955.800000,6276.48438
2025-07-31,6430.451172,5627.64307,14552.98438,19.41757,12131.93066,15094.600000,6109.94238
2025-08-31,6529.819336,5881.38037,15274.74121,20.75129,12521.77637,15223.700000,6284.96094
2025-09-30,6738.750000,5873.03857,15233.42188,21.26032,12661.55469,15066.000000,6514.55371
2025-10-31,6874.000000,5813.58984,15209.55078,21.63530,12798.44727,1407.599976,6532.95557

In [113]:
equity_returns = equity_prices.pct_change()

### Riskfree Data

In [114]:
# --- Load Riskfree Rate ---
factors_data = pd.read_excel(
    "../Data_Ryan/Factors.xlsx",
    index_col = 0,
    parse_dates = True
)

factors_data.index = pd.to_datetime(factors_data.index, format='%Y%m')
factors_data.index = factors_data.index + pd.offsets.MonthEnd(0)
factors_data /= 100

riskfree = factors_data["RF"].resample('ME').last()
riskfree

/var/folders/37/zcyd0byn17lfrmxtt4_4k3s40000gn/T/ipykernel_86189/2112351923.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  factors_data = pd.read_excel(

1926-07-31    0.0022
1926-08-31    0.0025
1926-09-30    0.0023
1926-10-31    0.0032
1926-11-30    0.0031
               ...
2025-06-30    0.0034
2025-07-31    0.0034
2025-08-31    0.0038
2025-09-30    0.0033
2025-10-31    0.0037
Freq: ME, Name: RF, Length: 1192, dtype: float64

### Benchmark Data

In [115]:
# --- Benchmark Data ---
benchmark_data = pd.read_excel(
    "../Data_Ryan/Benchmarks.xlsx",
    index_col = 0,
    parse_dates = True
)

benchmark_data.index = pd.to_datetime(benchmark_data.index)
benchmark_data = benchmark_data.resample('ME').last()


benchmark_return = benchmark_data[['MSCI World']].pct_change()
benchmark_return = benchmark_return.squeeze()
benchmark_return

Date
1986-12-31         NaN
1987-01-31         NaN
1987-02-28         NaN
1987-03-31         NaN
1987-04-30         NaN
                ...
2025-07-31    0.013121
2025-08-31    0.026408
2025-09-30    0.032574
2025-10-31    0.020226
2025-11-30    0.003149
Freq: ME, Name: MSCI World, Length: 468, dtype: float64

### Factor Data

In [116]:
# --- Load Factors Data ---
famafrench_data = pd.read_csv(
    "../Data_Ryan/famafrench_factors.csv",
    index_col = 0,
    parse_dates = True
)

famafrench_data.index = pd.to_datetime(famafrench_data.index, format='%Y%m')
famafrench_data.index = famafrench_data.index + pd.offsets.MonthEnd(0)
famafrench_data.dropna(inplace=True)
famafrench_data

/var/folders/37/zcyd0byn17lfrmxtt4_4k3s40000gn/T/ipykernel_86189/3295830964.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  famafrench_data = pd.read_csv(

            MKT-RF     SMB     HML     RMW     CMA     UMD     BAB
DATE
1980-01-31  0.0550  0.0188  0.0185 -0.0184  0.0189  0.0745  0.0695
1980-02-29 -0.0123 -0.0162  0.0059 -0.0095  0.0292  0.0789 -0.0132
1980-03-31 -0.1289 -0.0697 -0.0096  0.0182 -0.0105 -0.0958 -0.1181
1980-04-30  0.0396  0.0105  0.0103 -0.0218  0.0034 -0.0048  0.0574
1980-05-31  0.0526  0.0200  0.0038  0.0043 -0.0063 -0.0118  0.0618
...            ...     ...     ...     ...     ...     ...     ...
2025-05-31  0.0606 -0.0072 -0.0288  0.0129  0.0251  0.0221  0.0256
2025-06-30  0.0486 -0.0002 -0.0160 -0.0320  0.0145 -0.0264  0.0527
2025-07-31  0.0198 -0.0015 -0.0127 -0.0029 -0.0208 -0.0096  0.0184
2025-08-31  0.0185  0.0488  0.0442 -0.0068  0.0207 -0.0354  0.0646
2025-09-30  0.0339 -0.0218 -0.0105 -0.0203 -0.0222  0.0466  0.0189

[549 rows x 7 columns]

## Macro + Trend

Still in Progress...

### Weights

In [ ]:
def extract_clean_weights(df):
    # 1) Nur die weight-Spalten nehmen
    weight_cols = [c for c in df.columns if c.startswith("w_")]
    
    # 2) Gewichtstabelle extrahieren
    w = df[weight_cols].copy()
    
    # 3) Prefix "w_" entfernen
    w.columns = [c.replace("w_", "") for c in weight_cols]
    
    return w

# Clean weights for both strategies
fundamental_weights = extract_clean_weights(fundamental_equity)
macroRS_weights = extract_clean_weights(macroRS_equity)

In [ ]:
fund, macro = fundamental_weights.align(macroRS_weights, join="inner")
combined_weights = 0.5 * fund + 0.5 * macro
combined_weights.dropna(how="all", inplace=True)
combined_weights

,AU,CH,EM,EU,UK,JP,US
Date,,,,,,,
2002-09-30,-0.223819,-0.164428,0.000000,0.278387,0.257496,-0.275530,0.224490
2002-10-31,-0.209713,-0.037605,0.000000,0.215924,0.404351,-0.447455,0.224833
2002-11-30,-0.192744,-0.029084,0.000000,0.223082,-0.185186,0.067945,0.095848
2002-12-31,-0.194024,-0.001022,0.000000,0.151480,-0.319047,0.244038,0.295204
2003-01-31,-0.192980,0.037599,0.000000,0.168323,-0.107847,0.058240,0.260366
...,...,...,...,...,...,...,...
2025-06-30,0.318542,-0.243211,-0.453131,-0.171823,0.184878,-0.227313,0.591724
2025-07-31,0.262849,0.108852,-0.383440,-0.238590,0.124871,-0.015164,0.177042
2025-08-31,0.121081,0.428011,-0.020613,-0.159124,-0.319423,-0.104819,0.032428
2025-09-30,-0.118496,0.502951,0.003019,0.074552,-0.228930,-0.317543,0.057995
2025-10-31,0.116103,0.588117,-0.033389,-0.112076,-0.097974,-0.338972,-0.170793

### Backtest

In [119]:
results = pmp.run_cc_strategy(
    weights = combined_weights,
    returns = equity_returns,
    rf = riskfree,
    frequency=1,
    t_cost= 0.0002,
    benchmark = benchmark_return
)

results

,ret_net,ret_gross,ret_bm,turnover,tcost,ret_rf,w_AU,w_CH,w_EM,w_EU,w_UK,w_JP,w_US
Date,,,,,,,,,,,,,
2002-10-31,0.075940,0.075940,0.073988,0.000000,0.000000,0.0014,-0.235252,-0.171445,0.000000,0.314145,0.278907,-0.257727,0.243909
2002-11-30,0.018856,0.018915,0.054137,0.295925,0.000059,0.0012,-0.212278,-0.038758,0.000000,0.227288,0.416329,-0.460988,0.237655
2002-12-31,-0.009097,-0.008967,-0.048213,0.652835,0.000131,0.0011,-0.188908,-0.028247,0.000000,0.212187,-0.180486,0.066209,0.090138
2003-01-31,-0.002169,-0.002108,-0.030204,0.307252,0.000061,0.0010,-0.199225,-0.000985,0.000000,0.146032,-0.294354,0.235993,0.287060
2003-02-28,-0.008876,-0.008831,-0.017101,0.229037,0.000046,0.0009,-0.189893,0.035655,0.000000,0.159953,-0.106133,0.059112,0.256178
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-06-30,-0.006957,-0.006897,0.043488,0.298379,0.000060,0.0034,0.246091,-0.325187,-0.463162,-0.183601,0.159196,0.030555,0.571939
2025-07-31,0.020888,0.020936,0.013121,0.239786,0.000048,0.0034,0.317770,-0.236044,-0.457336,-0.167264,0.185042,-0.224692,0.603125
2025-08-31,0.012719,0.012843,0.026408,0.620411,0.000124,0.0038,0.274700,0.114250,-0.386719,-0.245424,0.128884,-0.016206,0.179778
2025-09-30,-0.012189,-0.012028,0.032574,0.802028,0.000160,0.0033,0.120910,0.426853,-0.020400,-0.164937,-0.322989,-0.107390,0.033466
2025-10-31,-0.009118,-0.009027,0.020226,0.453576,0.000091,0.0037,-0.117296,0.502163,0.000282,0.074763,-0.231405,-0.323143,0.059159

### Performance Statistics

In [120]:
pmp.run_perf_summary_benchmark_vs_strategy(results, alreadyXs = True)

                         Benchmark  Strategy
Arithm Avg Total Return    11.3480    6.4668
Arithm Avg Xs Return        9.7482    4.8669
Std Xs Returns             15.0396    7.9576
Sharpe Arithmetic           0.6482    0.6116
Geom Avg Total Return      10.6955    6.3328
Geom Avg Xs Return          9.0853    4.7225
Sharpe Geometric            0.6041    0.5935
Min Xs Return             -19.0140   -7.9897
Max Xs Return              12.8184    8.7011
Skewness                   -0.6545    0.4127
Excess Kurtosis             1.7657    1.7045
Alpha Arithmetic           -0.0000    5.7653
Alpha Arithmetic p-val      0.0000    0.0005
Alpha Geometric             0.0000    5.6402
Beta 1                      1.0000   -0.0922
Beta 1 p-val                0.0000    0.0264
Tracking Error              0.0000    7.8502
Information Ratio           0.0000    0.7185
AC 1                        0.0630   -0.0531
AC 2                       -0.0544   -0.0231
AC 3                        0.0684    0.0212

In [121]:
famafrench_data

            MKT-RF     SMB     HML     RMW     CMA     UMD     BAB
DATE
1980-01-31  0.0550  0.0188  0.0185 -0.0184  0.0189  0.0745  0.0695
1980-02-29 -0.0123 -0.0162  0.0059 -0.0095  0.0292  0.0789 -0.0132
1980-03-31 -0.1289 -0.0697 -0.0096  0.0182 -0.0105 -0.0958 -0.1181
1980-04-30  0.0396  0.0105  0.0103 -0.0218  0.0034 -0.0048  0.0574
1980-05-31  0.0526  0.0200  0.0038  0.0043 -0.0063 -0.0118  0.0618
...            ...     ...     ...     ...     ...     ...     ...
2025-05-31  0.0606 -0.0072 -0.0288  0.0129  0.0251  0.0221  0.0256
2025-06-30  0.0486 -0.0002 -0.0160 -0.0320  0.0145 -0.0264  0.0527
2025-07-31  0.0198 -0.0015 -0.0127 -0.0029 -0.0208 -0.0096  0.0184
2025-08-31  0.0185  0.0488  0.0442 -0.0068  0.0207 -0.0354  0.0646
2025-09-30  0.0339 -0.0218 -0.0105 -0.0203 -0.0222  0.0466  0.0189

[549 rows x 7 columns]

In [122]:
results = results.loc[:"2025-09-30"]

In [123]:
pmp.run_factor_regression(results, famafrench_data)

                         Strategy
Arithm Avg Total Return    4.9242
Arithm Avg Xs Return       3.3346
Std Xs Returns             8.0193
Sharpe Arithmetic          0.4158
Geom Avg Total Return      4.7095
Geom Avg Xs Return         3.1098
Sharpe Geometric           0.3878
Min Xs Return             -8.3097
Max Xs Return              8.3611
Skewness                   0.3950
Excess Kurtosis            1.6383
Alpha Arithmetic           5.1538
Alpha Arithmetic p-val     0.0023
Alpha Geometric            4.9665
Beta 1                    -0.0399
Beta 1 p-val               0.5826
Beta 2                     0.0720
Beta 2 p-val               0.3911
Beta 3                    -0.0271
Beta 3 p-val               0.6643
Beta 4                    -0.1056
Beta 4 p-val               0.1051
Beta 5                     0.1175
Beta 5 p-val               0.1932
Beta 6                    -0.1041
Beta 6 p-val               0.0015
Beta 7                    -0.1265
Beta 7 p-val               0.1502
Tracking Error             7.7820
Information Ratio          0.6382
AC 1                      -0.0388
AC 2                      -0.0066
AC 3                       0.0363