# Risk Sentiment - Bonds

## Imports

In [1]:
import sys
import os
sys.path.append(os.path.abspath(".."))

import pmp_functions_v4 as pmp

import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt

path = "../../Data_Ryan"

## Data Cleaning

In [2]:
# --- Load Riskfree Rate ---
factors_data = pd.read_excel(
    f"{path}/Factors.xlsx",
    index_col = 0,
    parse_dates = True
)

factors_data.index = pd.to_datetime(factors_data.index, format='%Y%m')
factors_data.index = factors_data.index + pd.offsets.MonthEnd(0)
factors_data /= 100

riskfree = factors_data["RF"].resample('ME').last()
display(riskfree)

/var/folders/bl/ywj9s7j57_qf7pwls_sv_w9r0000gn/T/ipykernel_84182/711168680.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  factors_data = pd.read_excel(

1926-07-31    0.0022
1926-08-31    0.0025
1926-09-30    0.0023
1926-10-31    0.0032
1926-11-30    0.0031
               ...
2025-06-30    0.0034
2025-07-31    0.0034
2025-08-31    0.0038
2025-09-30    0.0033
2025-10-31    0.0037
Freq: ME, Name: RF, Length: 1192, dtype: float64

In [3]:
# --- Load Factors Data ---
famafrench_data = pd.read_csv(
    f"{path}/famafrench_factors.csv",
    index_col = 0,
    parse_dates = True
)

famafrench_data.index = pd.to_datetime(famafrench_data.index, format='%Y%m')
famafrench_data.index = famafrench_data.index + pd.offsets.MonthEnd(0)
famafrench_data /= 100
display(famafrench_data)

/var/folders/bl/ywj9s7j57_qf7pwls_sv_w9r0000gn/T/ipykernel_84182/2041547973.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  famafrench_data = pd.read_csv(

,MKT-RF,SMB,HML,RMW,CMA,UMD,BAB
DATE,,,,,,,
1980-01-31,0.000550,0.000188,0.000185,-0.000184,0.000189,0.000745,0.000695
1980-02-29,-0.000123,-0.000162,0.000059,-0.000095,0.000292,0.000789,-0.000132
1980-03-31,-0.001289,-0.000697,-0.000096,0.000182,-0.000105,-0.000958,-0.001181
1980-04-30,0.000396,0.000105,0.000103,-0.000218,0.000034,-0.000048,0.000574
1980-05-31,0.000526,0.000200,0.000038,0.000043,-0.000063,-0.000118,0.000618
...,...,...,...,...,...,...,...
2025-06-30,0.000486,-0.000002,-0.000160,-0.000320,0.000145,-0.000264,0.000527
2025-07-31,0.000198,-0.000015,-0.000127,-0.000029,-0.000208,-0.000096,0.000184
2025-08-31,0.000185,0.000488,0.000442,-0.000068,0.000207,-0.000354,0.000646
2025-09-30,0.000339,-0.000218,-0.000105,-0.000203,-0.000222,0.000466,0.000189
2025-10-31,0.000195,-0.000131,-0.000310,-0.000522,-0.000403,NaN,NaN

In [4]:
# --- Benchmark Data ---
benchmark_data = pd.read_excel(
    f"{path}/Benchmarks.xlsx",
    index_col = 0,
    parse_dates = True
)
display(benchmark_data)
benchmark_data.index = pd.to_datetime(benchmark_data.index)
benchmark_data = benchmark_data.resample('ME').last()

benchmark_TR = benchmark_data[['MSCI World']].pct_change()
benchmark_XR = benchmark_TR.sub(riskfree, axis = 0)

benchmark_TR.columns = ['Benchmark Total Return']
benchmark_XR.columns = ['Benchmark Excess Return']
benchmark_returns = pd.concat([benchmark_TR, benchmark_XR], axis = 1).dropna()

display(benchmark_returns)

               S&P 500  MSCI World
Date
1986-12-31    242.1700         NaN
1987-01-30    274.7800         NaN
1987-02-27    285.6377         NaN
1987-03-31    293.8792         NaN
1987-04-30    291.2698         NaN
...                ...         ...
2025-07-31  14412.5527   8214.1572
2025-08-29  14704.7217   8431.0801
2025-09-30  15240.0381   8705.7139
2025-10-31  15596.8623   8881.7959
2025-11-28  15635.0938   8909.7607

[468 rows x 2 columns]

            Benchmark Total Return  Benchmark Excess Return
1991-01-31                0.034364                 0.029164
1991-02-28                0.090450                 0.085650
1991-03-31               -0.031331                -0.035731
1991-04-30                0.005910                 0.000610
1991-05-31                0.020740                 0.016040
...                            ...                      ...
2025-06-30                0.043488                 0.040088
2025-07-31                0.013121                 0.009721
2025-08-31                0.026408                 0.022608
2025-09-30                0.032574                 0.029274
2025-10-31                0.020226                 0.016526

[418 rows x 2 columns]

In [5]:
# --- Load Bond Prices ---
bond_futures = pd.read_excel(
    f"{path}/Bond Futures.xlsx",
    index_col = 0,
    parse_dates = True
)
bond_futures.index = pd.to_datetime(bond_futures.index)
bond_futures.index = bond_futures.index + pd.offsets.MonthEnd(0)

display("Bond Futures:")
display(bond_futures)

'Bond Futures:'

,EU,JP,AU,US,CH,EM,UK
Dates,,,,,,,
1998-01-31,72.58774,89.88,83.91110,58.968750,90.12,NaN,89.28422
1998-02-28,73.84924,90.45,83.86650,58.437500,91.37,NaN,89.20823
1998-03-31,72.76451,90.75,84.08059,58.281250,90.54,NaN,92.70965
1998-04-30,74.66254,91.56,83.99135,58.250000,89.35,NaN,92.89550
1998-05-31,75.80680,93.14,84.46878,58.593750,91.27,NaN,91.67311
...,...,...,...,...,...,...,...
2025-07-31,147.00613,137.03,61.55103,111.078125,196.99,15.03735,121.79588
2025-08-31,150.42250,136.54,62.63541,112.468750,200.93,15.12679,122.26090
2025-09-30,151.15975,135.79,63.31735,112.484375,205.32,15.14941,122.26156
2025-10-31,149.10904,136.04,62.56212,112.671875,202.55,15.26130,122.94178
2025-11-30,149.53946,135.13,62.54567,113.421875,202.42,15.28231,123.40855

In [6]:
# --- Load Equity Price Data ---
equity_prices = pd.read_excel(
    f"{path}/Equity Data.xlsx",
    index_col = 0,
    parse_dates = True
)
equity_prices.index = pd.to_datetime(equity_prices.index)
equity_prices.index = equity_prices.index + pd.offsets.MonthEnd(0)

display(equity_prices)

,US,AU,CH,JP,UK,EM,EU
Date,,,,,,,
1997-09-30,1206.821289,NaN,NaN,7.33429,7487.55371,NaN,NaN
1997-10-31,1168.258667,NaN,NaN,6.82642,7084.46436,NaN,NaN
1997-11-30,1207.453491,NaN,NaN,6.34016,7152.55615,NaN,NaN
1997-12-31,1223.840210,NaN,NaN,5.86087,7365.37451,NaN,NaN
1998-01-31,1234.778442,NaN,NaN,6.36481,7690.75049,NaN,NaN
...,...,...,...,...,...,...,...
2025-06-30,6308.888672,5641.31592,14994.83984,19.64406,12121.12598,14955.800000,6276.48438
2025-07-31,6430.451172,5627.64307,14552.98438,19.41757,12131.93066,15094.600000,6109.94238
2025-08-31,6529.819336,5881.38037,15274.74121,20.75129,12521.77637,15223.700000,6284.96094
2025-09-30,6738.750000,5873.03857,15233.42188,21.26032,12661.55469,15066.000000,6514.55371
2025-10-31,6874.000000,5813.58984,15209.55078,21.63530,12798.44727,1407.599976,6532.95557

# Global Variables

In [7]:
frequency = 1
t_cost = 0
# window = 12*20
short = True
beta_neutral = False
target_vol = 0.10
rf = riskfree
benchmark = benchmark_data

## Signal Generation

In [8]:
# --- Compute Risk Sentiment Signal ---
risk_sentiment_signal = equity_prices.pct_change(12).resample('ME').last()

display('Monetary Policy Signal:')
display(risk_sentiment_signal)

'Monetary Policy Signal:'

,US,AU,CH,JP,UK,EM,EU
Date,,,,,,,
1997-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997-10-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997-11-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
2025-06-30,0.089128,0.068200,0.135337,0.154598,0.144851,0.289415,0.182202
2025-07-31,0.102824,0.049903,0.052154,0.073431,0.108819,0.101297,0.147454
2025-08-31,0.099490,0.061966,0.057742,0.147609,0.115843,0.169668,0.137625
2025-09-30,0.116404,0.007596,0.071014,0.169629,0.125311,0.161505,0.161653
2025-10-31,0.153843,0.071439,0.133660,0.243448,0.208974,-0.893692,0.244085

In [9]:
# --- Composite Signal Construction ---
# Logic: For Bonds, we want decreasing RIsk Sentiment (-)
risk_sentiment_signal = - risk_sentiment_signal

display("Risk Sentiment Signal:")
display(risk_sentiment_signal)

'Risk Sentiment Signal:'

,US,AU,CH,JP,UK,EM,EU
Date,,,,,,,
1997-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997-10-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997-11-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
2025-06-30,-0.089128,-0.068200,-0.135337,-0.154598,-0.144851,-0.289415,-0.182202
2025-07-31,-0.102824,-0.049903,-0.052154,-0.073431,-0.108819,-0.101297,-0.147454
2025-08-31,-0.099490,-0.061966,-0.057742,-0.147609,-0.115843,-0.169668,-0.137625
2025-09-30,-0.116404,-0.007596,-0.071014,-0.169629,-0.125311,-0.161505,-0.161653
2025-10-31,-0.153843,-0.071439,-0.133660,-0.243448,-0.208974,0.893692,-0.244085

## Asset Returns

In [10]:
# --- Bond Returns ---
bond_XR = bond_futures.pct_change()
bond_XR = bond_XR.resample('ME').last()

display(bond_XR)

,EU,JP,AU,US,CH,EM,UK
Dates,,,,,,,
1998-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998-02-28,0.017379,0.006342,-0.000532,-0.009009,0.013870,NaN,-0.000851
1998-03-31,-0.014688,0.003317,0.002553,-0.002674,-0.009084,NaN,0.039250
1998-04-30,0.026085,0.008926,-0.001061,-0.000536,-0.013143,NaN,0.002005
1998-05-31,0.015326,0.017256,0.005684,0.005901,0.021489,NaN,-0.013159
...,...,...,...,...,...,...,...
2025-07-31,-0.032262,-0.007101,-0.022422,-0.009475,-0.015542,-0.009048,-0.044820
2025-08-31,0.023240,-0.003576,0.017618,0.012519,0.020001,0.005948,0.003818
2025-09-30,0.004901,-0.005493,0.010887,0.000139,0.021848,0.001495,0.000005
2025-10-31,-0.013567,0.001841,-0.011928,0.001667,-0.013491,0.007386,0.005564
2025-11-30,0.002887,-0.006689,-0.000263,0.006656,-0.000642,0.001377,0.003797

## Portfolio Construction

In [11]:
# --- Ranking & Weighting ---
# Rank countries 1 to N for each month based on the raw signal.
# axis = 1 means we rank across columns (countries).

rank = risk_sentiment_signal.rank(axis = 1, method = 'average', ascending = False)
display(rank)

             US   AU   CH   JP   UK   EM   EU
Date
1997-09-30  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1997-10-31  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1997-11-30  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1997-12-31  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1998-01-31  NaN  NaN  NaN  NaN  NaN  NaN  NaN
...         ...  ...  ...  ...  ...  ...  ...
2025-06-30  2.0  1.0  3.0  5.0  4.0  7.0  6.0
2025-07-31  5.0  1.0  2.0  3.0  6.0  4.0  7.0
2025-08-31  3.0  2.0  1.0  6.0  4.0  7.0  5.0
2025-09-30  3.0  1.0  2.0  7.0  4.0  5.0  6.0
2025-10-31  4.0  2.0  3.0  6.0  5.0  1.0  7.0

[338 rows x 7 columns]

In [12]:
# --- Standardize Ranks ---
# Convert ranks into Z-scores (Weights) that sum to zero.
# Weight = (Rank - Mean_Rank) / Std_Dev_Rank

rank_mean = rank.mean(axis = 1)
rank_stds = rank.std(axis = 1)
standardized_weights = rank.sub(rank_mean, axis = 0).div(rank_stds, axis = 0)

display(standardized_weights)

                 US       AU       CH       JP       UK       EM       EU
Date
1997-09-30      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1997-10-31      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1997-11-30      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1997-12-31      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1998-01-31      NaN      NaN      NaN      NaN      NaN      NaN      NaN
...             ...      ...      ...      ...      ...      ...      ...
2025-06-30 -0.92582 -1.38873 -0.46291  0.46291  0.00000  1.38873  0.92582
2025-07-31  0.46291 -1.38873 -0.92582 -0.46291  0.92582  0.00000  1.38873
2025-08-31 -0.46291 -0.92582 -1.38873  0.92582  0.00000  1.38873  0.46291
2025-09-30 -0.46291 -1.38873 -0.92582  1.38873  0.00000  0.46291  0.92582
2025-10-31  0.00000 -0.92582 -0.46291  0.92582  0.46291 -1.38873  1.38873

[338 rows x 7 columns]

In [13]:
# --- Volatility Scaling (Risk Management) ---
# Step A: Calculate 'Raw' Strategy Returns (Before Vol Scaling)
# IMPORTANT: Shift weights by 1 to trade next month's return.
strategy_raw_ret = (standardized_weights.shift(1) * bond_XR).sum(axis=1)

# Step B: Forecast Volatility
# Calculate realized volatility over a 36-month rolling window (annualized)
# We use the raw strategy's realized vol to estimate future volatility.
expected_vol = strategy_raw_ret.rolling(window = 36).std() * np.sqrt(12)

# We use previous rolling volatility (shift 1) to size today's position
lev_factor = target_vol / expected_vol.shift(1)

## **⭐ CRITICAL CHANGE: Scaling the Weights**

# Step C: Estimate Portfolio Weights
# Apply the leverage factor to the standardized weights
# We use .mul(axis=0) to multiply the 2D DataFrame (weights) 
# by the 1D Series (lev_factor_series) along the rows (axis=0).
final_strategy_weights = standardized_weights.mul(lev_factor, axis=0).fillna(0).loc['1998-01-31':'2025-10-31']

display(final_strategy_weights)

,US,AU,CH,JP,UK,EM,EU
1998-01-31,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1998-02-28,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1998-03-31,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1998-04-30,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1998-05-31,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...
2025-06-30,-0.595561,-0.893341,-0.297780,0.297780,0.000000,0.893341,0.595561
2025-07-31,0.297842,-0.893527,-0.595685,-0.297842,0.595685,0.000000,0.893527
2025-08-31,-0.297749,-0.595497,-0.893246,0.595497,0.000000,0.893246,0.297749
2025-09-30,-0.314167,-0.942501,-0.628334,0.942501,0.000000,0.314167,0.628334
2025-10-31,0.000000,-0.702420,-0.351210,0.702420,0.351210,-1.053630,1.053630

# Backtest

In [14]:
benchmark_TR = benchmark_TR.squeeze()
benchmark_XR = benchmark_XR.squeeze()

In [15]:
results = pmp.run_cc_strategy(
    weights = final_strategy_weights,
    returns = bond_XR,
    rf = riskfree,
    frequency = frequency,
    t_cost = t_cost, 
    benchmark = benchmark_XR,
    long_short = short,
    beta_neutral = beta_neutral
)

display(results)

,ret_net,ret_gross,ret_bm,turnover,tcost,ret_rf,w_US,w_AU,w_CH,w_JP,w_UK,w_EM,w_EU
Date,,,,,,,,,,,,,
1998-02-28,0.000000,0.000000,0.064065,0.000000,0.0,0.0039,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1998-03-31,0.000000,0.000000,0.039375,0.000000,0.0,0.0039,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1998-04-30,0.000000,0.000000,0.005630,0.000000,0.0,0.0043,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1998-05-31,0.000000,0.000000,-0.015149,0.000000,0.0,0.0040,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1998-06-30,0.000000,0.000000,0.020679,0.000000,0.0,0.0041,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-06-30,-0.018932,-0.018932,0.040088,0.957357,0.0,0.0034,-0.330143,-0.501659,0.337084,0.166086,-0.168198,0.496830,0.000000
2025-07-31,0.000890,0.000890,0.009721,1.291964,0.0,0.0034,-0.335871,-0.497180,-0.166949,0.168211,0.000000,0.503812,0.327977
2025-08-31,0.000177,0.000177,0.022608,1.794948,0.0,0.0038,0.166255,-0.501341,-0.335015,-0.163644,0.329668,0.000000,0.504078
2025-09-30,-0.026517,-0.026517,0.029274,1.652388,0.0,0.0033,-0.163049,-0.332112,-0.504838,0.331604,0.000000,0.499647,0.168750
2025-10-31,0.014726,0.014726,0.016526,1.070481,0.0,0.0037,-0.169309,-0.498467,-0.332224,0.502774,0.000000,0.167648,0.329578

# Portfolio Statistics

In [16]:
pmp.run_perf_summary_benchmark_vs_strategy(results, alreadyXs = True)

                         Benchmark  Strategy
Arithm Avg Total Return     6.9887   -0.5673
Arithm Avg Xs Return        4.9498   -2.6062
Std Xs Returns             15.5470   10.7518
Sharpe Arithmetic           0.3184   -0.2424
Geom Avg Total Return       5.9249   -1.1419
Geom Avg Xs Return          3.8686   -3.1983
Sharpe Geometric            0.2488   -0.2975
Min Xs Return             -19.0940  -10.1912
Max Xs Return              12.8084   14.0129
Skewness                   -0.6049    0.2165
Excess Kurtosis             1.2459    2.8999
Alpha Arithmetic            0.0000   -2.0170
Alpha Arithmetic p-val      0.0002    0.3520
Alpha Geometric             0.0000   -2.5814
Beta 1                      1.0000   -0.1190
Beta 1 p-val                0.0000    0.0173
Tracking Error              0.0000   10.6073
Information Ratio           0.0000   -0.2434
AC 1                        0.0655    0.0914
AC 2                       -0.0583    0.0432
AC 3                        0.0917    0.0351