# International Trade - Equities

## Imports

In [197]:
import sys
import os
sys.path.append(os.path.abspath(".."))

import pmp_functions_v5 as pmp

import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt

path = "../../Data_Ryan"

## Global Variables

In [198]:
frequency = 1
t_cost = 0
target_vol = 0.10
min_regions = 4

## Data

### Riskfree Data

In [199]:
# --- Load Riskfree Rate ---
factors_data = pd.read_excel(
    f"{path}/Factors.xlsx",
    index_col = 0,
    parse_dates = True
)

factors_data.index = pd.to_datetime(factors_data.index, format='%Y%m')
factors_data.index = factors_data.index + pd.offsets.MonthEnd(0)
factors_data /= 100

riskfree = factors_data["RF"].resample('ME').last()
riskfree

/var/folders/bl/ywj9s7j57_qf7pwls_sv_w9r0000gn/T/ipykernel_14191/2677495952.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  factors_data = pd.read_excel(

1926-07-31    0.0022
1926-08-31    0.0025
1926-09-30    0.0023
1926-10-31    0.0032
1926-11-30    0.0031
               ...
2025-06-30    0.0034
2025-07-31    0.0034
2025-08-31    0.0038
2025-09-30    0.0033
2025-10-31    0.0037
Freq: ME, Name: RF, Length: 1192, dtype: float64

### Farma Factors Data

In [200]:
# --- Load Factors Data ---
famafrench_data = pd.read_csv(
    f"{path}/famafrench_factors.csv",
    index_col = 0,
    parse_dates = True
)

famafrench_data.index = pd.to_datetime(famafrench_data.index, format='%Y%m')
famafrench_data.index = famafrench_data.index + pd.offsets.MonthEnd(0)
famafrench_data.dropna(inplace=True)
famafrench_data

/var/folders/bl/ywj9s7j57_qf7pwls_sv_w9r0000gn/T/ipykernel_14191/297690613.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  famafrench_data = pd.read_csv(

            MKT-RF     SMB     HML     RMW     CMA     UMD     BAB
DATE
1980-01-31  0.0550  0.0188  0.0185 -0.0184  0.0189  0.0745  0.0695
1980-02-29 -0.0123 -0.0162  0.0059 -0.0095  0.0292  0.0789 -0.0132
1980-03-31 -0.1289 -0.0697 -0.0096  0.0182 -0.0105 -0.0958 -0.1181
1980-04-30  0.0396  0.0105  0.0103 -0.0218  0.0034 -0.0048  0.0574
1980-05-31  0.0526  0.0200  0.0038  0.0043 -0.0063 -0.0118  0.0618
...            ...     ...     ...     ...     ...     ...     ...
2025-05-31  0.0606 -0.0072 -0.0288  0.0129  0.0251  0.0221  0.0256
2025-06-30  0.0486 -0.0002 -0.0160 -0.0320  0.0145 -0.0264  0.0527
2025-07-31  0.0198 -0.0015 -0.0127 -0.0029 -0.0208 -0.0096  0.0184
2025-08-31  0.0185  0.0488  0.0442 -0.0068  0.0207 -0.0354  0.0646
2025-09-30  0.0339 -0.0218 -0.0105 -0.0203 -0.0222  0.0466  0.0189

[549 rows x 7 columns]

### Benchmark Data

In [201]:
# --- Benchmark Data ---
benchmark_data = pd.read_excel(
    f"{path}/Benchmarks.xlsx",
    index_col = 0,
    parse_dates = True
)

benchmark_data.index = pd.to_datetime(benchmark_data.index)
benchmark_data = benchmark_data.resample('ME').last()

benchmark_return = benchmark_data[['MSCI World']].pct_change()
benchmark_return = benchmark_return.squeeze()
benchmark_return

Date
1986-12-31         NaN
1987-01-31         NaN
1987-02-28         NaN
1987-03-31         NaN
1987-04-30         NaN
                ...
2025-07-31    0.013121
2025-08-31    0.026408
2025-09-30    0.032574
2025-10-31    0.020226
2025-11-30    0.003149
Freq: ME, Name: MSCI World, Length: 468, dtype: float64

### Trade Data

In [202]:
# --- Load Trade Data ---
trade_sheet_map = {
    'US':'US', 
    'EU':'EU', 
    'JP':'JP', 
    'UK':'UK', 
    'AU':'AU', 
    'CH':'CH',
    'EM':'EM'
}

trade_export_matrices = {}

for country, trade_sheet in trade_sheet_map.items():
    display(f"Loading{country} from sheet: '{trade_sheet}'...")

    try:
        df = pd.read_excel(
        f"{path}/International Trade Data.xlsx",
        sheet_name = trade_sheet,
        index_col = 0,
        parse_dates = True
    )

        current_matrix = df.resample('YE').last()
        trade_export_matrices[country] = current_matrix

        print(f"   -> Successfully loaded matrix size: {current_matrix.shape}")
    except ValueError as e:
        print(f"   -> ERROR: Could not find sheet '{trade_sheet}'. Check Excel tabs for spaces.")
    except Exception as e:
        print(f"   -> An error occurred: {e}")


us_trade_weights = trade_export_matrices['US']
display(us_trade_weights)

jp_to_us = trade_export_matrices['JP']['US']
display(jp_to_us)

#     # Resample to Month Start ('MS')
#     export_weights = df.iloc[:, 0].resample('ME').last()
#     export_weights.name = country
#     trade_export_list.append(export_weights)

# # display(trade_export_list)
# trade_matrix = pd.concat(trade_export_list, axis = 1)
# display(trade_matrix)

# trade_data.index = pd.to_datetime(trade_data.index)
# trade_data.index = trade_data.index + pd.offsets.MonthEnd(0)

# start_date = trade_data.index.min()
# end_date = pd.to_datetime('2025-10-31')
# monthly_index = pd.date_range(start = start_date, end = end_date, freq ='ME')

# trade_weight = trade_data.reindex(monthly_index)

# trade_weight = trade_weight.ffill()

# display(trade_weight)

"LoadingUS from sheet: 'US'..."

   -> Successfully loaded matrix size: (46, 6)

"LoadingEU from sheet: 'EU'..."

   -> Successfully loaded matrix size: (28, 6)

"LoadingJP from sheet: 'JP'..."

   -> Successfully loaded matrix size: (46, 6)

"LoadingUK from sheet: 'UK'..."

   -> Successfully loaded matrix size: (28, 6)

"LoadingAU from sheet: 'AU'..."

   -> Successfully loaded matrix size: (28, 6)

"LoadingCH from sheet: 'CH'..."

   -> Successfully loaded matrix size: (46, 6)

"LoadingEM from sheet: 'EM'..."

   -> Successfully loaded matrix size: (28, 6)

                  UK        CH        JP        AU        EU        EM
Date
1980-12-31  0.136825  0.023996  0.239271  0.047531  0.514998  0.037379
1981-12-31  0.123397  0.023089  0.254746  0.060800  0.490764  0.047204
1982-12-31  0.125185  0.022222  0.259506  0.062222  0.484691  0.046173
1983-12-31  0.131863  0.028077  0.285285  0.053898  0.469291  0.031587
1984-12-31  0.136969  0.021505  0.294163  0.061700  0.443676  0.041987
1985-12-31  0.138330  0.019366  0.282696  0.062626  0.440644  0.056338
1986-12-31  0.125779  0.022281  0.294921  0.057738  0.452084  0.047197
1987-12-31  0.133333  0.023877  0.281324  0.056028  0.462884  0.042553
1988-12-31  0.137274  0.022164  0.300524  0.056482  0.436368  0.047188
1989-12-31  0.137237  0.022911  0.296691  0.062717  0.432076  0.048368
1990-12-31  0.138375  0.023476  0.291874  0.057336  0.452596  0.036343
1991-12-31  0.127444  0.025442  0.280565  0.054417  0.470200  0.041932
1992-12-31  0.128517  0.022307  0.278580  0.053992  0.469455  0.047148
1993-12-31  0.132408  0.021089  0.300587  0.053924  0.434864  0.057128
1994-12-31  0.128443  0.021186  0.298199  0.057468  0.428496  0.066208
1995-12-31  0.129082  0.020477  0.304821  0.055728  0.425091  0.064800
1996-12-31  0.136484  0.021119  0.302798  0.059926  0.418427  0.061246
1997-12-31  0.150403  0.023075  0.277453  0.055046  0.434529  0.059494
1998-12-31  0.154707  0.021282  0.244475  0.054297  0.463574  0.061664
1999-12-31  0.148066  0.020166  0.241989  0.054144  0.465746  0.069890
2000-12-31  0.155587  0.022065  0.247242  0.048939  0.449788  0.076379
2001-12-31  0.164097  0.020374  0.228800  0.042401  0.450165  0.094163
2002-12-31  0.155586  0.022897  0.219586  0.050759  0.449103  0.102069
2003-12-31  0.144912  0.020896  0.212483  0.051018  0.450204  0.120488
2004-12-31  0.137612  0.019853  0.200707  0.051129  0.449551  0.141148
2005-12-31  0.112312  0.021894  0.201308  0.054023  0.459767  0.150697
2006-12-31  0.118320  0.024293  0.193198  0.055444  0.443555  0.165190
2007-12-31  0.117428  0.023256  0.179730  0.053402  0.452196  0.173988
2008-12-31  0.108859  0.023741  0.176028  0.054430  0.454545  0.182397
2009-12-31  0.108380  0.024302  0.163408  0.051397  0.442458  0.210056
2010-12-31  0.102894  0.022508  0.164279  0.054078  0.413622  0.242619
2011-12-31  0.108077  0.020478  0.151024  0.056314  0.428043  0.236064
2012-12-31  0.105463  0.049372  0.151621  0.060473  0.383874  0.249197
2013-12-31  0.088837  0.047049  0.138808  0.049679  0.392168  0.283460
2014-12-31  0.099884  0.039895  0.136284  0.047758  0.388468  0.287711
2015-12-31  0.110769  0.039161  0.131469  0.046154  0.393566  0.278881
2016-12-31  0.111747  0.047697  0.135732  0.045244  0.394113  0.265467
2017-12-31  0.107752  0.038208  0.135514  0.044805  0.389775  0.283947
2018-12-31  0.108495  0.036165  0.143538  0.042613  0.400897  0.268293
2019-12-31  0.120011  0.033637  0.145097  0.047891  0.433010  0.220353
2020-12-31  0.093978  0.040554  0.139874  0.049539  0.410393  0.265663
2021-12-31  0.084025  0.036928  0.128445  0.042280  0.427081  0.281242
2022-12-31  0.100838  0.049743  0.119492  0.041092  0.453095  0.235739
2023-12-31  0.097902  0.044917  0.114309  0.045186  0.469069  0.228618
2024-12-31  0.101521  0.040941  0.118672  0.049793  0.458091  0.230982
2025-12-31  0.100211  0.093618  0.108386  0.044831  0.454114  0.198840

Date
1980-12-31         NaN
1981-12-31         NaN
1982-12-31         NaN
1983-12-31         NaN
1984-12-31         NaN
1985-12-31         NaN
1986-12-31         NaN
1987-12-31         NaN
1988-12-31         NaN
1989-12-31         NaN
1990-12-31         NaN
1991-12-31         NaN
1992-12-31         NaN
1993-12-31         NaN
1994-12-31         NaN
1995-12-31         NaN
1996-12-31         NaN
1997-12-31         NaN
1998-12-31    0.515010
1999-12-31    0.522850
2000-12-31    0.532162
2001-12-31    0.519347
2002-12-31    0.493894
2003-12-31    0.428211
2004-12-31    0.407359
2005-12-31    0.401429
2006-12-31    0.408665
2007-12-31    0.373898
2008-12-31    0.343769
2009-12-31    0.342568
2010-12-31    0.307754
2011-12-31    0.295027
2012-12-31    0.343397
2013-12-31    0.352715
2014-12-31    0.347436
2015-12-31    0.371093
2016-12-31    0.363281
2017-12-31    0.345312
2018-12-31    0.332192
2019-12-31    0.349064
2020-12-31    0.315299
2021-12-31    0.308064
2022-12-31    0.335324
2023-12-31    0.358672
2024-12-31    0.363672
2025-12-31    0.356971
Freq: YE-DEC, Name: US, dtype: float64

### Currency Data

In [203]:
# --- Load Currency Prices ---
currency_data = pd.read_excel(
    f"{path}/FX Data.xlsx",
    sheet_name = 'SPOT',
    index_col = 0,
    parse_dates = True
)

currency_data = currency_data.rename(columns={
    'CHFUSD' : 'CH',
    'EURUSD' : 'EU',
    'AUDUSD' : 'AU',
    'GBPUSD' : 'UK',
    'JPYUSD' : 'JP',
    'CNHUSD' : 'EM'
})

currency_data.index = pd.to_datetime(currency_data.index)
currency_data.index = currency_data.index + pd.offsets.MonthEnd(0)
currency_spot = currency_data

display(currency_spot)

                CH      EU        JP      AU      UK      EM
Date
1988-12-31  0.6658     NaN  0.007997  0.8555  1.8110     NaN
1989-01-31  0.6251     NaN  0.007663  0.8890  1.7520     NaN
1989-02-28  0.6431     NaN  0.007882  0.8015  1.7434     NaN
1989-03-31  0.6015     NaN  0.007532  0.8195  1.6855     NaN
1989-04-30  0.5976     NaN  0.007527  0.7942  1.6900     NaN
...            ...     ...       ...     ...     ...     ...
2025-06-30  1.2609  1.1787  0.006943  0.6581  1.3732  0.1397
2025-07-31  1.2311  1.1415  0.006634  0.6425  1.3207  0.1387
2025-08-31  1.2492  1.1686  0.006800  0.6540  1.3504  0.1404
2025-09-30  1.2556  1.1734  0.006761  0.6613  1.3446  0.1403
2025-10-31  1.2429  1.1537  0.006494  0.6545  1.3152  0.1404

[443 rows x 6 columns]

### Equity Data

In [204]:
# --- Load Equity Price Data ---
equity_prices = pd.read_excel(
    f"{path}/Equity Data.xlsx",
    index_col = 0,
    parse_dates = True
)
equity_prices.index = pd.to_datetime(equity_prices.index)
equity_prices.index = equity_prices.index + pd.offsets.MonthEnd(0)

display(equity_prices)

,US,AU,CH,JP,UK,EM,EU
Date,,,,,,,
1997-09-30,1206.821289,NaN,NaN,7.33429,7487.55371,NaN,NaN
1997-10-31,1168.258667,NaN,NaN,6.82642,7084.46436,NaN,NaN
1997-11-30,1207.453491,NaN,NaN,6.34016,7152.55615,NaN,NaN
1997-12-31,1223.840210,NaN,NaN,5.86087,7365.37451,NaN,NaN
1998-01-31,1234.778442,NaN,NaN,6.36481,7690.75049,NaN,NaN
...,...,...,...,...,...,...,...
2025-06-30,6308.888672,5641.31592,14994.83984,19.64406,12121.12598,14955.800000,6276.48438
2025-07-31,6430.451172,5627.64307,14552.98438,19.41757,12131.93066,15094.600000,6109.94238
2025-08-31,6529.819336,5881.38037,15274.74121,20.75129,12521.77637,15223.700000,6284.96094
2025-09-30,6738.750000,5873.03857,15233.42188,21.26032,12661.55469,15066.000000,6514.55371
2025-10-31,6874.000000,5813.58984,15209.55078,21.63530,12798.44727,1407.599976,6532.95557

In [205]:
equity_XR =  equity_prices.pct_change()
display(equity_XR)

,US,AU,CH,JP,UK,EM,EU
Date,,,,,,,
1997-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997-10-31,-0.031954,NaN,NaN,-0.069246,-0.053835,NaN,NaN
1997-11-30,0.033550,NaN,NaN,-0.071232,0.009611,NaN,NaN
1997-12-31,0.013571,NaN,NaN,-0.075596,0.029754,NaN,NaN
1998-01-31,0.008938,NaN,NaN,0.085984,0.044176,NaN,NaN
...,...,...,...,...,...,...,...
2025-06-30,0.047850,0.034649,0.008742,0.018397,0.017408,0.087457,0.024923
2025-07-31,0.019268,-0.002424,-0.029467,-0.011530,0.000891,0.009281,-0.026534
2025-08-31,0.015453,0.045088,0.049595,0.068686,0.032134,0.008553,0.028645
2025-09-30,0.031996,-0.001418,-0.002705,0.024530,0.011163,-0.010359,0.036531
2025-10-31,0.020070,-0.010122,-0.001567,0.017638,0.010812,-0.906571,0.002825

## Signal Generation

In [206]:
# --- Compute International Trade Signal ---
# 1. INVERT QUOTES where necessary (Make everything USD base)
# Example: If you have EURUSD, invert it to get USDEUR
# (Skip this if your data is already "Foreign per USD")

currency_spot_US_base = currency_spot.copy()
currency_spot_US_base['EU'] = 1 / currency_spot['EU'] 
currency_spot_US_base['CH'] = 1 / currency_spot['CH'] 
currency_spot_US_base['JP'] = 1 / currency_spot['JP'] 
currency_spot_US_base['AU'] = 1 / currency_spot['AU']
currency_spot_US_base['UK'] = 1 / currency_spot['UK'] 
currency_spot_US_base['EM'] = 1 / currency_spot['EM']
currency_spot_US_base['USD'] = 1.0

display('Base Currency: US (USD)')
display(currency_spot_US_base)

'Base Currency: US (USD)'

                  CH        EU          JP        AU        UK        EM  USD
Date
1988-12-31  1.501953       NaN  125.046893  1.168907  0.552181       NaN  1.0
1989-01-31  1.599744       NaN  130.497194  1.124859  0.570776       NaN  1.0
1989-02-28  1.554968       NaN  126.871352  1.247661  0.573592       NaN  1.0
1989-03-31  1.662510       NaN  132.766861  1.220256  0.593296       NaN  1.0
1989-04-30  1.673360       NaN  132.855055  1.259129  0.591716       NaN  1.0
...              ...       ...         ...       ...       ...       ...  ...
2025-06-30  0.793084  0.848392  144.029958  1.519526  0.728226  7.158196  1.0
2025-07-31  0.812282  0.876040  150.738619  1.556420  0.757174  7.209805  1.0
2025-08-31  0.800512  0.855725  147.058824  1.529052  0.740521  7.122507  1.0
2025-09-30  0.796432  0.852224  147.907114  1.512173  0.743716  7.127584  1.0
2025-10-31  0.804570  0.866776  153.988297  1.527884  0.760341  7.122507  1.0

[443 rows x 7 columns]

In [207]:
cross_rates_dict = {}

for new_base_currency in currency_spot_US_base.columns:
    # Formula: Divide the Whole DataFrame by the New Base Currency column
    # axis=0 aligns the division by index (dates)
    cross_rates_dict[new_base_currency] = currency_spot_US_base.div(currency_spot_US_base[new_base_currency], axis = 0).dropna()

display("Base Currency: EU (EUR)")
display(cross_rates_dict['EU'])

display("Base Currency: JP (JPY)")
display(cross_rates_dict['JP'])

'Base Currency: EU (EUR)'

                  CH   EU          JP        AU        UK        EM     USD
Date
2010-08-31  1.287179  1.0  106.751978  1.423759  0.826166  8.590786  1.2680
2010-09-30  1.339688  1.0  113.872881  1.409782  0.867524  9.029139  1.3634
2010-10-31  1.370039  1.0  112.132176  1.418099  0.869622  9.181698  1.3947
2010-11-30  1.302729  1.0  108.644351  1.354088  0.834276  8.638057  1.2983
2010-12-31  1.251660  1.0  108.609916  1.307925  0.857289  8.811060  1.3384
...              ...  ...         ...       ...       ...       ...     ...
2025-06-30  0.934808  1.0  169.768112  1.791065  0.858360  8.437366  1.1787
2025-07-31  0.927220  1.0  172.068134  1.776654  0.864314  8.229993  1.1415
2025-08-31  0.935479  1.0  171.852941  1.786850  0.865373  8.323362  1.1686
2025-09-30  0.934533  1.0  173.554208  1.774384  0.872676  8.363507  1.1734
2025-10-31  0.928232  1.0  177.656298  1.762720  0.877205  8.217236  1.1537

[183 rows x 7 columns]

'Base Currency: JP (JPY)'

                  CH        EU   JP        AU        UK        EM       USD
Date
2010-08-31  0.012058  0.009368  1.0  0.013337  0.007739  0.080474  0.011878
2010-09-30  0.011765  0.008782  1.0  0.012380  0.007618  0.079291  0.011973
2010-10-31  0.012218  0.008918  1.0  0.012647  0.007755  0.081883  0.012438
2010-11-30  0.011991  0.009204  1.0  0.012463  0.007679  0.079508  0.011950
2010-12-31  0.011524  0.009207  1.0  0.012042  0.007893  0.081126  0.012323
...              ...       ...  ...       ...       ...       ...       ...
2025-06-30  0.005506  0.005890  1.0  0.010550  0.005056  0.049699  0.006943
2025-07-31  0.005389  0.005812  1.0  0.010325  0.005023  0.047830  0.006634
2025-08-31  0.005443  0.005819  1.0  0.010398  0.005036  0.048433  0.006800
2025-09-30  0.005385  0.005762  1.0  0.010224  0.005028  0.048190  0.006761
2025-10-31  0.005225  0.005629  1.0  0.009922  0.004938  0.046254  0.006494

[183 rows x 7 columns]

In [ ]:
# # 2. CALCULATE 1-YEAR RETURN (Pct Change)
currency_spot_US_base_chg = currency_spot_US_base.pct_change(12)

display('YoY% Inverted Spot')
display(currency_spot_US_base_chg)

# # 3. CALCULATE WEIGHTED BASKET CHANGE
# # This creates a single column representing the USD Index return
usd_basket_return = (
    (currency_spot_US_base_chg['EU'] * trade_weight['EU']) +
    (currency_spot_US_base_chg['CH'] * trade_weight['CH']) +
    (currency_spot_US_base_chg['JP'] * trade_weight['JP']) +
    (currency_spot_US_base_chg['AU'] * trade_weight['AU']) +
    (currency_spot_US_base_chg['UK'] * trade_weight['UK']) +
    (currency_spot_US_base_chg['EM'] * trade_weight['EM'])
)

display(usd_basket_return)

# # 4. CREATE THE SIGNAL (Depreciation)
# We want Positive values to mean Depreciation (Weak Dollar)
# because Weak Dollar is usually the "Buy" signal for this strategy.
fx_signal = -1 * usd_basket_return

display(fx_signal)

'YoY% Inverted Spot'

                  CH        EU        JP        AU        UK        EM  USD
Date
1988-12-31       NaN       NaN       NaN       NaN       NaN       NaN  NaN
1989-01-31       NaN       NaN       NaN       NaN       NaN       NaN  NaN
1989-02-28       NaN       NaN       NaN       NaN       NaN       NaN  NaN
1989-03-31       NaN       NaN       NaN       NaN       NaN       NaN  NaN
1989-04-30       NaN       NaN       NaN       NaN       NaN       NaN  NaN
...              ...       ...       ...       ...       ...       ...  ...
2025-06-30 -0.117535 -0.091117 -0.104710  0.013524 -0.079158 -0.019327  0.0
2025-07-31 -0.074811 -0.051599  0.004974  0.018210 -0.026577 -0.002163  0.0
2025-08-31 -0.057717 -0.054595  0.006029  0.034404 -0.027918  0.004274  0.0
2025-09-30 -0.058140 -0.051048  0.029729  0.045365 -0.005280  0.017106  0.0
2025-10-31 -0.068871 -0.056601  0.012935  0.005653 -0.019237  0.000000  0.0

[443 rows x 7 columns]

NameError: name 'trade_weight' is not defined