# Monetary Policy - Bonds

## Imports

In [259]:
import sys
import os
sys.path.append(os.path.abspath(".."))

import pmp_functions_v4 as pmp

import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt

path = "../../Data_Ryan"

## Data Setup & Cleaning

In [260]:
# --- Load Riskfree Rate ---
factors_data = pd.read_excel(
    f"{path}/Factors.xlsx",
    index_col = 0,
    parse_dates = True
)

factors_data.index = pd.to_datetime(factors_data.index, format='%Y%m')
factors_data.index = factors_data.index + pd.offsets.MonthEnd(0)
factors_data /= 100

riskfree = factors_data["RF"].resample('ME').last()
display(riskfree)

/var/folders/bl/ywj9s7j57_qf7pwls_sv_w9r0000gn/T/ipykernel_44874/711168680.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  factors_data = pd.read_excel(

1926-07-31    0.0022
1926-08-31    0.0025
1926-09-30    0.0023
1926-10-31    0.0032
1926-11-30    0.0031
               ...
2025-06-30    0.0034
2025-07-31    0.0034
2025-08-31    0.0038
2025-09-30    0.0033
2025-10-31    0.0037
Freq: ME, Name: RF, Length: 1192, dtype: float64

In [261]:
# --- Load Factors Data ---
famafrench_data = pd.read_csv(
    f"{path}/famafrench_factors.csv",
    index_col = 0,
    parse_dates = True
)

famafrench_data.index = pd.to_datetime(famafrench_data.index, format='%Y%m')
famafrench_data.index = famafrench_data.index + pd.offsets.MonthEnd(0)
famafrench_data /= 100
display(famafrench_data)

/var/folders/bl/ywj9s7j57_qf7pwls_sv_w9r0000gn/T/ipykernel_44874/2041547973.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  famafrench_data = pd.read_csv(

,MKT-RF,SMB,HML,RMW,CMA,UMD,BAB
DATE,,,,,,,
1980-01-31,0.000550,0.000188,0.000185,-0.000184,0.000189,0.000745,0.000695
1980-02-29,-0.000123,-0.000162,0.000059,-0.000095,0.000292,0.000789,-0.000132
1980-03-31,-0.001289,-0.000697,-0.000096,0.000182,-0.000105,-0.000958,-0.001181
1980-04-30,0.000396,0.000105,0.000103,-0.000218,0.000034,-0.000048,0.000574
1980-05-31,0.000526,0.000200,0.000038,0.000043,-0.000063,-0.000118,0.000618
...,...,...,...,...,...,...,...
2025-06-30,0.000486,-0.000002,-0.000160,-0.000320,0.000145,-0.000264,0.000527
2025-07-31,0.000198,-0.000015,-0.000127,-0.000029,-0.000208,-0.000096,0.000184
2025-08-31,0.000185,0.000488,0.000442,-0.000068,0.000207,-0.000354,0.000646
2025-09-30,0.000339,-0.000218,-0.000105,-0.000203,-0.000222,0.000466,0.000189
2025-10-31,0.000195,-0.000131,-0.000310,-0.000522,-0.000403,NaN,NaN

In [262]:
# --- Benchmark Data ---
benchmark_data = pd.read_excel(
    f"{path}/Benchmarks.xlsx",
    index_col = 0,
    parse_dates = True
)
display(benchmark_data)
benchmark_data.index = pd.to_datetime(benchmark_data.index)
benchmark_data = benchmark_data.resample('ME').last()

benchmark_TR = benchmark_data[['MSCI World']].pct_change()
benchmark_XR = benchmark_TR.sub(riskfree, axis = 0)

benchmark_TR.columns = ['Benchmark Total Return']
benchmark_XR.columns = ['Benchmark Excess Return']
benchmark_returns = pd.concat([benchmark_TR, benchmark_XR], axis = 1).dropna()

display(benchmark_returns)

               S&P 500  MSCI World
Date
1986-12-31    242.1700         NaN
1987-01-30    274.7800         NaN
1987-02-27    285.6377         NaN
1987-03-31    293.8792         NaN
1987-04-30    291.2698         NaN
...                ...         ...
2025-07-31  14412.5527   8214.1572
2025-08-29  14704.7217   8431.0801
2025-09-30  15240.0381   8705.7139
2025-10-31  15596.8623   8881.7959
2025-11-28  15635.0938   8909.7607

[468 rows x 2 columns]

            Benchmark Total Return  Benchmark Excess Return
1991-01-31                0.034364                 0.029164
1991-02-28                0.090450                 0.085650
1991-03-31               -0.031331                -0.035731
1991-04-30                0.005910                 0.000610
1991-05-31                0.020740                 0.016040
...                            ...                      ...
2025-06-30                0.043488                 0.040088
2025-07-31                0.013121                 0.009721
2025-08-31                0.026408                 0.022608
2025-09-30                0.032574                 0.029274
2025-10-31                0.020226                 0.016526

[418 rows x 2 columns]

In [263]:
# --- Load Monetary Policy Data ---
monetary_data = pd.read_excel(
    f"{path}/2_year_yields.xlsx",
    index_col = 0,
    parse_dates = True
)
monetary_data.index = pd.to_datetime(monetary_data.index)
monetary_data.index = monetary_data.index + pd.offsets.MonthEnd(0)

display(monetary_data)

                 US     UK     EU     JP     CH      AU     EM
Date
1980-01-31  11.8790    NaN    NaN    NaN    NaN     NaN    NaN
1980-02-29  14.7390    NaN    NaN    NaN    NaN     NaN    NaN
1980-03-31  14.6390    NaN    NaN    NaN    NaN     NaN    NaN
1980-04-30  10.8190    NaN    NaN    NaN    NaN     NaN    NaN
1980-05-31   9.2590    NaN    NaN    NaN    NaN     NaN    NaN
...             ...    ...    ...    ...    ...     ...    ...
2025-06-30   3.7192  3.817  1.861  0.750 -0.048  3.2075  1.368
2025-07-31   3.9571  3.861  1.964  0.823 -0.082  3.3524  1.435
2025-08-31   3.6167  3.943  1.940  0.871 -0.103  3.3380  1.414
2025-09-30   3.6083  3.985  2.019  0.944 -0.096  3.4888  1.464
2025-10-31   3.5736  3.771  1.968  0.925 -0.138  3.5570  1.410

[550 rows x 7 columns]

In [264]:
# --- Load Bond Futures ---
bond_futures = pd.read_excel(
    f"{path}/Bond Futures.xlsx",
    index_col = 0,
    parse_dates = True
)
bond_futures.index = pd.to_datetime(bond_futures.index)
bond_futures.index = bond_futures.index + pd.offsets.MonthEnd(0)

display("Bond Futures:")
display(bond_futures)

'Bond Futures:'

,EU,JP,AU,US,CH,EM,UK
Dates,,,,,,,
1998-01-31,72.58774,89.88,83.91110,58.968750,90.12,NaN,89.28422
1998-02-28,73.84924,90.45,83.86650,58.437500,91.37,NaN,89.20823
1998-03-31,72.76451,90.75,84.08059,58.281250,90.54,NaN,92.70965
1998-04-30,74.66254,91.56,83.99135,58.250000,89.35,NaN,92.89550
1998-05-31,75.80680,93.14,84.46878,58.593750,91.27,NaN,91.67311
...,...,...,...,...,...,...,...
2025-07-31,147.00613,137.03,61.55103,111.078125,196.99,15.03735,121.79588
2025-08-31,150.42250,136.54,62.63541,112.468750,200.93,15.12679,122.26090
2025-09-30,151.15975,135.79,63.31735,112.484375,205.32,15.14941,122.26156
2025-10-31,149.10904,136.04,62.56212,112.671875,202.55,15.26130,122.94178
2025-11-30,149.53946,135.13,62.54567,113.421875,202.42,15.28231,123.40855

## Global Variables

In [265]:
frequency = 1
t_cost = 0
# window = 12*20
short = True
beta_neutral = False
target_vol = 0.10
rf = riskfree
benchmark = benchmark_data

## Signal Generation

In [266]:
# --- Compute Monetary Policy Signal ---
monetary_policy_signal = monetary_data.diff(12)
display(monetary_policy_signal)

                US     UK     EU     JP     CH      AU     EM
Date
1980-01-31     NaN    NaN    NaN    NaN    NaN     NaN    NaN
1980-02-29     NaN    NaN    NaN    NaN    NaN     NaN    NaN
1980-03-31     NaN    NaN    NaN    NaN    NaN     NaN    NaN
1980-04-30     NaN    NaN    NaN    NaN    NaN     NaN    NaN
1980-05-31     NaN    NaN    NaN    NaN    NaN     NaN    NaN
...            ...    ...    ...    ...    ...     ...    ...
2025-06-30 -1.0343 -0.404 -0.972  0.384 -0.852 -0.9559 -0.290
2025-07-31 -0.3004  0.035 -0.567  0.367 -0.742 -0.5227 -0.087
2025-08-31 -0.2998 -0.166 -0.451  0.497 -0.693 -0.3335 -0.120
2025-09-30 -0.0328  0.002 -0.049  0.552 -0.532 -0.1547  0.007
2025-10-31 -0.5966 -0.666 -0.313  0.479 -0.528 -0.4895 -0.072

[550 rows x 7 columns]

In [267]:
# --- Composite Signal Construction ---
# Logic: For Bonds, we want decreasing Monetary Policy Yields (-)
monetary_policy_signal = - monetary_policy_signal

display("Monetary Policy Signal:")
display(monetary_policy_signal)

'Monetary Policy Signal:'

                US     UK     EU     JP     CH      AU     EM
Date
1980-01-31     NaN    NaN    NaN    NaN    NaN     NaN    NaN
1980-02-29     NaN    NaN    NaN    NaN    NaN     NaN    NaN
1980-03-31     NaN    NaN    NaN    NaN    NaN     NaN    NaN
1980-04-30     NaN    NaN    NaN    NaN    NaN     NaN    NaN
1980-05-31     NaN    NaN    NaN    NaN    NaN     NaN    NaN
...            ...    ...    ...    ...    ...     ...    ...
2025-06-30  1.0343  0.404  0.972 -0.384  0.852  0.9559  0.290
2025-07-31  0.3004 -0.035  0.567 -0.367  0.742  0.5227  0.087
2025-08-31  0.2998  0.166  0.451 -0.497  0.693  0.3335  0.120
2025-09-30  0.0328 -0.002  0.049 -0.552  0.532  0.1547 -0.007
2025-10-31  0.5966  0.666  0.313 -0.479  0.528  0.4895  0.072

[550 rows x 7 columns]

## Asset Returns

In [268]:
# --- Bond Returns ---
bond_XR = bond_futures.pct_change()
bond_XR = bond_XR.resample('ME').last()

display(bond_XR)

,EU,JP,AU,US,CH,EM,UK
Dates,,,,,,,
1998-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998-02-28,0.017379,0.006342,-0.000532,-0.009009,0.013870,NaN,-0.000851
1998-03-31,-0.014688,0.003317,0.002553,-0.002674,-0.009084,NaN,0.039250
1998-04-30,0.026085,0.008926,-0.001061,-0.000536,-0.013143,NaN,0.002005
1998-05-31,0.015326,0.017256,0.005684,0.005901,0.021489,NaN,-0.013159
...,...,...,...,...,...,...,...
2025-07-31,-0.032262,-0.007101,-0.022422,-0.009475,-0.015542,-0.009048,-0.044820
2025-08-31,0.023240,-0.003576,0.017618,0.012519,0.020001,0.005948,0.003818
2025-09-30,0.004901,-0.005493,0.010887,0.000139,0.021848,0.001495,0.000005
2025-10-31,-0.013567,0.001841,-0.011928,0.001667,-0.013491,0.007386,0.005564
2025-11-30,0.002887,-0.006689,-0.000263,0.006656,-0.000642,0.001377,0.003797

## Portfolio Construction

In [269]:
# --- Ranking & Weighting ---
# Rank countries 1 to N for each month based on the raw signal.
# axis = 1 means we rank across columns (countries).

rank = monetary_policy_signal.rank(axis = 1, method = 'average', ascending = False)
display(rank)

             US   UK   EU   JP   CH   AU   EM
Date
1980-01-31  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1980-02-29  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1980-03-31  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1980-04-30  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1980-05-31  NaN  NaN  NaN  NaN  NaN  NaN  NaN
...         ...  ...  ...  ...  ...  ...  ...
2025-06-30  1.0  5.0  2.0  7.0  4.0  3.0  6.0
2025-07-31  4.0  6.0  2.0  7.0  1.0  3.0  5.0
2025-08-31  4.0  5.0  2.0  7.0  1.0  3.0  6.0
2025-09-30  4.0  5.0  3.0  7.0  1.0  2.0  6.0
2025-10-31  2.0  1.0  5.0  7.0  3.0  4.0  6.0

[550 rows x 7 columns]

In [270]:
# --- Standardize Ranks ---
# Convert ranks into Z-scores (Weights) that sum to zero.
# Weight = (Rank - Mean_Rank) / Std_Dev_Rank

rank_mean = rank.mean(axis = 1)
rank_stds = rank.std(axis = 1)
standardized_weights = rank.sub(rank_mean, axis = 0).div(rank_stds, axis = 0)

display(standardized_weights)

                 US       UK       EU       JP       CH       AU       EM
Date
1980-01-31      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1980-02-29      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1980-03-31      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1980-04-30      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1980-05-31      NaN      NaN      NaN      NaN      NaN      NaN      NaN
...             ...      ...      ...      ...      ...      ...      ...
2025-06-30 -1.38873  0.46291 -0.92582  1.38873  0.00000 -0.46291  0.92582
2025-07-31  0.00000  0.92582 -0.92582  1.38873 -1.38873 -0.46291  0.46291
2025-08-31  0.00000  0.46291 -0.92582  1.38873 -1.38873 -0.46291  0.92582
2025-09-30  0.00000  0.46291 -0.46291  1.38873 -1.38873 -0.92582  0.92582
2025-10-31 -0.92582 -1.38873  0.46291  1.38873 -0.46291  0.00000  0.92582

[550 rows x 7 columns]

In [271]:
# --- Volatility Scaling (Risk Management) ---
# Step A: Calculate 'Raw' Strategy Returns (Before Vol Scaling)
# IMPORTANT: Shift weights by 1 to trade next month's return.
strategy_raw_ret = (standardized_weights.shift(1) * bond_XR).sum(axis=1)

# Step B: Forecast Volatility
# Calculate realized volatility over a 36-month rolling window (annualized)
# We use the raw strategy's realized vol to estimate future volatility.
expected_vol = strategy_raw_ret.rolling(window = 36).std() * np.sqrt(12)

# We use previous rolling volatility (shift 1) to size today's position
lev_factor = target_vol / expected_vol.shift(1)

## **⭐ CRITICAL CHANGE: Scaling the Weights**

# Step C: Estimate Portfolio Weights
# Apply the leverage factor to the standardized weights
# We use .mul(axis=0) to multiply the 2D DataFrame (weights) 
# by the 1D Series (lev_factor_series) along the rows (axis=0).
final_strategy_weights = standardized_weights.mul(lev_factor, axis=0).fillna(0).loc['1998-03-31':'2025-10-31']

display(final_strategy_weights)

,US,UK,EU,JP,CH,AU,EM
1998-03-31,-6.916721,-2.305574,11.527869,6.916721,2.305574,-11.527869,0.000000
1998-04-30,-5.766005,1.922002,9.610008,-1.922002,5.766005,-9.610008,0.000000
1998-05-31,-1.013079,1.013079,3.039236,-3.039236,5.065393,-5.065393,0.000000
1998-06-30,-4.812790,0.962558,2.887674,-0.962558,4.812790,-2.887674,0.000000
1998-07-31,-4.491038,-2.694623,2.694623,-0.898208,4.491038,0.898208,0.000000
...,...,...,...,...,...,...,...
2025-06-30,-0.639058,0.213019,-0.426038,0.639058,0.000000,-0.213019,0.426038
2025-07-31,0.000000,0.427663,-0.427663,0.641494,-0.641494,-0.213831,0.213831
2025-08-31,0.000000,0.214164,-0.428328,0.642492,-0.642492,-0.214164,0.428328
2025-09-30,0.000000,0.216823,-0.216823,0.650470,-0.650470,-0.433647,0.433647
2025-10-31,-0.450128,-0.675193,0.225064,0.675193,-0.225064,0.000000,0.450128

## Backtest

In [272]:
benchmark_TR = benchmark_TR.squeeze()
benchmark_XR = benchmark_XR.squeeze()

In [273]:
results = pmp.run_cc_strategy(
    weights = final_strategy_weights,
    returns = bond_XR,
    rf = riskfree,
    frequency = frequency,
    t_cost = t_cost, 
    benchmark = benchmark_XR,
    long_short = short,
    beta_neutral = beta_neutral
)

display(results)

,ret_net,ret_gross,ret_bm,turnover,tcost,ret_rf,w_US,w_UK,w_EU,w_JP,w_CH,w_AU,w_EM
Date,,,,,,,,,,,,,
1998-04-30,0.343454,0.343454,0.005630,0.000000,0.0,0.0043,-0.333336,-0.113217,0.562937,0.330991,0.106072,-0.553446,0.000000
1998-05-31,0.124073,0.124073,-0.015149,16.742222,0.0,0.0040,-0.332957,0.107313,0.556955,-0.113023,0.335732,-0.554020,0.000000
1998-06-30,-0.061059,-0.061059,0.020679,8.117708,0.0,0.0041,-0.111441,0.114188,0.335703,-0.331919,0.550108,-0.556640,0.000000
1998-07-31,0.118149,0.118149,-0.005774,7.663022,0.0,0.0040,-0.552973,0.106020,0.336755,-0.113357,0.557225,-0.333670,0.000000
1998-08-31,-0.038859,-0.038859,-0.137443,7.523557,0.0,0.0043,-0.552046,-0.339777,0.339167,-0.108177,0.553114,0.107719,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-06-30,-0.018390,-0.018390,0.040088,0.561647,0.0,0.0034,-0.163556,0.172263,-0.503494,0.495358,-0.332950,0.000000,0.332379
2025-07-31,0.006636,0.006636,0.009721,0.688521,0.0,0.0034,-0.504519,0.161009,-0.328915,0.503966,0.000000,-0.166565,0.335024
2025-08-31,-0.025926,-0.025926,0.022608,0.908701,0.0,0.0038,0.000000,0.334436,-0.334177,0.496329,-0.501329,-0.164495,0.169235
2025-09-30,-0.021356,-0.021356,0.029274,0.405256,0.0,0.0033,0.000000,0.168416,-0.330195,0.497010,-0.505092,-0.164713,0.334573
2025-10-31,0.022496,0.022496,0.016526,0.414312,0.0,0.0037,0.000000,0.165429,-0.168016,0.500208,-0.498297,-0.333686,0.334363

## Portfolio Statistics

In [274]:
pmp.run_perf_summary_benchmark_vs_strategy(results, alreadyXs = True)

                         Benchmark  Strategy
Arithm Avg Total Return     6.6559   -0.5299
Arithm Avg Xs Return        4.6330   -2.5529
Std Xs Returns             15.5456   14.7027
Sharpe Arithmetic           0.2980   -0.1736
Geom Avg Total Return       5.5756   -1.5849
Geom Avg Xs Return          3.5355   -3.6250
Sharpe Geometric            0.2274   -0.2466
Min Xs Return             -19.0940  -25.0611
Max Xs Return              12.8084   34.3454
Skewness                   -0.5980    1.1033
Excess Kurtosis             1.2508   17.4384
Alpha Arithmetic           -0.0000   -2.7376
Alpha Arithmetic p-val      0.0313    0.3245
Alpha Geometric             0.0000   -3.8116
Beta 1                      1.0000    0.0399
Beta 1 p-val                0.0000    0.4750
Tracking Error              0.0000   14.7119
Information Ratio           0.0000   -0.2591
AC 1                        0.0632   -0.0116
AC 2                       -0.0572   -0.1975
AC 3                        0.0934    0.2382