# Monetary Policy - Equities

## Imports

In [591]:
import sys
import os
sys.path.append(os.path.abspath(".."))

import pmp_functions_v4 as pmp

import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt

path = "../../Data_Ryan"

## Data Setup & Cleaning

In [592]:
# --- Load Riskfree Rate ---
factors_data = pd.read_excel(
    f"{path}/Factors.xlsx",
    index_col = 0,
    parse_dates = True
)

factors_data.index = pd.to_datetime(factors_data.index, format='%Y%m')
factors_data.index = factors_data.index + pd.offsets.MonthEnd(0)
factors_data /= 100

riskfree = factors_data["RF"].resample('ME').last()
display(riskfree)

/var/folders/bl/ywj9s7j57_qf7pwls_sv_w9r0000gn/T/ipykernel_36118/711168680.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  factors_data = pd.read_excel(

1926-07-31    0.0022
1926-08-31    0.0025
1926-09-30    0.0023
1926-10-31    0.0032
1926-11-30    0.0031
               ...
2025-06-30    0.0034
2025-07-31    0.0034
2025-08-31    0.0038
2025-09-30    0.0033
2025-10-31    0.0037
Freq: ME, Name: RF, Length: 1192, dtype: float64

In [593]:
# --- Load Factors Data ---
famafrench_data = pd.read_csv(
    f"{path}/famafrench_factors.csv",
    index_col = 0,
    parse_dates = True
)

famafrench_data.index = pd.to_datetime(famafrench_data.index, format='%Y%m')
famafrench_data.index = famafrench_data.index + pd.offsets.MonthEnd(0)
famafrench_data /= 100
display(famafrench_data)

/var/folders/bl/ywj9s7j57_qf7pwls_sv_w9r0000gn/T/ipykernel_36118/2041547973.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  famafrench_data = pd.read_csv(

,MKT-RF,SMB,HML,RMW,CMA,UMD,BAB
DATE,,,,,,,
1980-01-31,0.000550,0.000188,0.000185,-0.000184,0.000189,0.000745,0.000695
1980-02-29,-0.000123,-0.000162,0.000059,-0.000095,0.000292,0.000789,-0.000132
1980-03-31,-0.001289,-0.000697,-0.000096,0.000182,-0.000105,-0.000958,-0.001181
1980-04-30,0.000396,0.000105,0.000103,-0.000218,0.000034,-0.000048,0.000574
1980-05-31,0.000526,0.000200,0.000038,0.000043,-0.000063,-0.000118,0.000618
...,...,...,...,...,...,...,...
2025-06-30,0.000486,-0.000002,-0.000160,-0.000320,0.000145,-0.000264,0.000527
2025-07-31,0.000198,-0.000015,-0.000127,-0.000029,-0.000208,-0.000096,0.000184
2025-08-31,0.000185,0.000488,0.000442,-0.000068,0.000207,-0.000354,0.000646
2025-09-30,0.000339,-0.000218,-0.000105,-0.000203,-0.000222,0.000466,0.000189
2025-10-31,0.000195,-0.000131,-0.000310,-0.000522,-0.000403,NaN,NaN

In [594]:
# --- Benchmark Data ---
benchmark_data = pd.read_excel(
    f"{path}/Benchmarks.xlsx",
    index_col = 0,
    parse_dates = True
)
display(benchmark_data)
benchmark_data.index = pd.to_datetime(benchmark_data.index)
benchmark_data = benchmark_data.resample('ME').last()

benchmark_TR = benchmark_data[['MSCI World']].pct_change()
benchmark_XR = benchmark_TR.sub(riskfree, axis = 0)

benchmark_TR.columns = ['Benchmark Total Return']
benchmark_XR.columns = ['Benchmark Excess Return']
benchmark_returns = pd.concat([benchmark_TR, benchmark_XR], axis = 1).dropna()

display(benchmark_returns)

               S&P 500  MSCI World
Date
1986-12-31    242.1700         NaN
1987-01-30    274.7800         NaN
1987-02-27    285.6377         NaN
1987-03-31    293.8792         NaN
1987-04-30    291.2698         NaN
...                ...         ...
2025-07-31  14412.5527   8214.1572
2025-08-29  14704.7217   8431.0801
2025-09-30  15240.0381   8705.7139
2025-10-31  15596.8623   8881.7959
2025-11-28  15635.0938   8909.7607

[468 rows x 2 columns]

            Benchmark Total Return  Benchmark Excess Return
1991-01-31                0.034364                 0.029164
1991-02-28                0.090450                 0.085650
1991-03-31               -0.031331                -0.035731
1991-04-30                0.005910                 0.000610
1991-05-31                0.020740                 0.016040
...                            ...                      ...
2025-06-30                0.043488                 0.040088
2025-07-31                0.013121                 0.009721
2025-08-31                0.026408                 0.022608
2025-09-30                0.032574                 0.029274
2025-10-31                0.020226                 0.016526

[418 rows x 2 columns]

In [595]:
# --- Load Monetary Data ---
monetary_data = pd.read_excel(
    f"{path}/2_year_yields.xlsx",
    index_col = 0,
    parse_dates = True
)
monetary_data.index = pd.to_datetime(monetary_data.index)
monetary_data.index = monetary_data.index + pd.offsets.MonthEnd(0)

display(monetary_data)

                 US     UK     EU     JP     CH      AU     EM
Date
1980-01-31  11.8790    NaN    NaN    NaN    NaN     NaN    NaN
1980-02-29  14.7390    NaN    NaN    NaN    NaN     NaN    NaN
1980-03-31  14.6390    NaN    NaN    NaN    NaN     NaN    NaN
1980-04-30  10.8190    NaN    NaN    NaN    NaN     NaN    NaN
1980-05-31   9.2590    NaN    NaN    NaN    NaN     NaN    NaN
...             ...    ...    ...    ...    ...     ...    ...
2025-06-30   3.7192  3.817  1.861  0.750 -0.048  3.2075  1.368
2025-07-31   3.9571  3.861  1.964  0.823 -0.082  3.3524  1.435
2025-08-31   3.6167  3.943  1.940  0.871 -0.103  3.3380  1.414
2025-09-30   3.6083  3.985  2.019  0.944 -0.096  3.4888  1.464
2025-10-31   3.5736  3.771  1.968  0.925 -0.138  3.5570  1.410

[550 rows x 7 columns]

In [596]:
# --- Load Equity Price Data ---
equity_prices = pd.read_excel(
    f"{path}/Equity Data.xlsx",
    index_col = 0,
    parse_dates = True
)
equity_prices.index = pd.to_datetime(equity_prices.index)
equity_prices.index = equity_prices.index + pd.offsets.MonthEnd(0)

display(equity_prices)

,US,AU,CH,JP,UK,EM,EU
Date,,,,,,,
1997-09-30,1206.821289,NaN,NaN,7.33429,7487.55371,NaN,NaN
1997-10-31,1168.258667,NaN,NaN,6.82642,7084.46436,NaN,NaN
1997-11-30,1207.453491,NaN,NaN,6.34016,7152.55615,NaN,NaN
1997-12-31,1223.840210,NaN,NaN,5.86087,7365.37451,NaN,NaN
1998-01-31,1234.778442,NaN,NaN,6.36481,7690.75049,NaN,NaN
...,...,...,...,...,...,...,...
2025-06-30,6308.888672,5641.31592,14994.83984,19.64406,12121.12598,14955.800000,6276.48438
2025-07-31,6430.451172,5627.64307,14552.98438,19.41757,12131.93066,15094.600000,6109.94238
2025-08-31,6529.819336,5881.38037,15274.74121,20.75129,12521.77637,15223.700000,6284.96094
2025-09-30,6738.750000,5873.03857,15233.42188,21.26032,12661.55469,15066.000000,6514.55371
2025-10-31,6874.000000,5813.58984,15209.55078,21.63530,12798.44727,1407.599976,6532.95557

## Global Variables

In [597]:
frequency = 1
t_cost = 0
# window = 12*20
short = True
beta_neutral = False
target_vol = 0.10
rf = riskfree
benchmark = benchmark_data

## Signal Generation

In [598]:
# --- Compute Monetary Policy Signal ---
monetary_policy_signal = monetary_data.diff(12)
display(monetary_policy_signal)

                US     UK     EU     JP     CH      AU     EM
Date
1980-01-31     NaN    NaN    NaN    NaN    NaN     NaN    NaN
1980-02-29     NaN    NaN    NaN    NaN    NaN     NaN    NaN
1980-03-31     NaN    NaN    NaN    NaN    NaN     NaN    NaN
1980-04-30     NaN    NaN    NaN    NaN    NaN     NaN    NaN
1980-05-31     NaN    NaN    NaN    NaN    NaN     NaN    NaN
...            ...    ...    ...    ...    ...     ...    ...
2025-06-30 -1.0343 -0.404 -0.972  0.384 -0.852 -0.9559 -0.290
2025-07-31 -0.3004  0.035 -0.567  0.367 -0.742 -0.5227 -0.087
2025-08-31 -0.2998 -0.166 -0.451  0.497 -0.693 -0.3335 -0.120
2025-09-30 -0.0328  0.002 -0.049  0.552 -0.532 -0.1547  0.007
2025-10-31 -0.5966 -0.666 -0.313  0.479 -0.528 -0.4895 -0.072

[550 rows x 7 columns]

In [599]:
# --- Composite Signal Construction ---
# Logic: For Equities, we want decreasing Monetary Policy Yields (-)
monetary_policy_signal = - monetary_policy_signal

display("Monetary Policy Signal:")
display(monetary_policy_signal)

'Monetary Policy Signal:'

                US     UK     EU     JP     CH      AU     EM
Date
1980-01-31     NaN    NaN    NaN    NaN    NaN     NaN    NaN
1980-02-29     NaN    NaN    NaN    NaN    NaN     NaN    NaN
1980-03-31     NaN    NaN    NaN    NaN    NaN     NaN    NaN
1980-04-30     NaN    NaN    NaN    NaN    NaN     NaN    NaN
1980-05-31     NaN    NaN    NaN    NaN    NaN     NaN    NaN
...            ...    ...    ...    ...    ...     ...    ...
2025-06-30  1.0343  0.404  0.972 -0.384  0.852  0.9559  0.290
2025-07-31  0.3004 -0.035  0.567 -0.367  0.742  0.5227  0.087
2025-08-31  0.2998  0.166  0.451 -0.497  0.693  0.3335  0.120
2025-09-30  0.0328 -0.002  0.049 -0.552  0.532  0.1547 -0.007
2025-10-31  0.5966  0.666  0.313 -0.479  0.528  0.4895  0.072

[550 rows x 7 columns]

## Asset Returns

In [600]:
# --- Equity Returns ---
equity_returns = equity_prices.pct_change()
equity_returns = equity_returns.resample('ME').last()

display(equity_returns)

,US,AU,CH,JP,UK,EM,EU
Date,,,,,,,
1997-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997-10-31,-0.031954,NaN,NaN,-0.069246,-0.053835,NaN,NaN
1997-11-30,0.033550,NaN,NaN,-0.071232,0.009611,NaN,NaN
1997-12-31,0.013571,NaN,NaN,-0.075596,0.029754,NaN,NaN
1998-01-31,0.008938,NaN,NaN,0.085984,0.044176,NaN,NaN
...,...,...,...,...,...,...,...
2025-06-30,0.047850,0.034649,0.008742,0.018397,0.017408,0.087457,0.024923
2025-07-31,0.019268,-0.002424,-0.029467,-0.011530,0.000891,0.009281,-0.026534
2025-08-31,0.015453,0.045088,0.049595,0.068686,0.032134,0.008553,0.028645
2025-09-30,0.031996,-0.001418,-0.002705,0.024530,0.011163,-0.010359,0.036531
2025-10-31,0.020070,-0.010122,-0.001567,0.017638,0.010812,-0.906571,0.002825

## Portfolio Construction

In [601]:
# --- Ranking & Weighting ---
# Rank countries 1 to N for each month based on the raw signal.
# axis = 1 means we rank across columns (countries).

rank = monetary_policy_signal.rank(axis = 1, method = 'average', ascending = False)
display(rank)

             US   UK   EU   JP   CH   AU   EM
Date
1980-01-31  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1980-02-29  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1980-03-31  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1980-04-30  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1980-05-31  NaN  NaN  NaN  NaN  NaN  NaN  NaN
...         ...  ...  ...  ...  ...  ...  ...
2025-06-30  1.0  5.0  2.0  7.0  4.0  3.0  6.0
2025-07-31  4.0  6.0  2.0  7.0  1.0  3.0  5.0
2025-08-31  4.0  5.0  2.0  7.0  1.0  3.0  6.0
2025-09-30  4.0  5.0  3.0  7.0  1.0  2.0  6.0
2025-10-31  2.0  1.0  5.0  7.0  3.0  4.0  6.0

[550 rows x 7 columns]

In [602]:
# --- Standardize Ranks ---
# Convert ranks into Z-scores (Weights) that sum to zero.
# Weight = (Rank - Mean_Rank) / Std_Dev_Rank

rank_mean = rank.mean(axis = 1)
rank_stds = rank.std(axis = 1)
standardized_weights = rank.sub(rank_mean, axis = 0).div(rank_stds, axis = 0)

display(standardized_weights)

                 US       UK       EU       JP       CH       AU       EM
Date
1980-01-31      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1980-02-29      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1980-03-31      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1980-04-30      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1980-05-31      NaN      NaN      NaN      NaN      NaN      NaN      NaN
...             ...      ...      ...      ...      ...      ...      ...
2025-06-30 -1.38873  0.46291 -0.92582  1.38873  0.00000 -0.46291  0.92582
2025-07-31  0.00000  0.92582 -0.92582  1.38873 -1.38873 -0.46291  0.46291
2025-08-31  0.00000  0.46291 -0.92582  1.38873 -1.38873 -0.46291  0.92582
2025-09-30  0.00000  0.46291 -0.46291  1.38873 -1.38873 -0.92582  0.92582
2025-10-31 -0.92582 -1.38873  0.46291  1.38873 -0.46291  0.00000  0.92582

[550 rows x 7 columns]

In [603]:
# --- Volatility Scaling (Risk Management) ---
# Step A: Calculate 'Raw' Strategy Returns (Before Vol Scaling)
# IMPORTANT: Shift weights by 1 to trade next month's return.
strategy_raw_ret = (standardized_weights.shift(1) * equity_returns).sum(axis=1)

# Step B: Forecast Volatility
# Calculate realized volatility over a 36-month rolling window (annualized)
# We use the raw strategy's realized vol to estimate future volatility.
expected_vol = strategy_raw_ret.rolling(window = 36).std() * np.sqrt(12)

# We use previous rolling volatility (shift 1) to size today's position
lev_factor = target_vol / expected_vol.shift(1)

## **⭐ CRITICAL CHANGE: Scaling the Weights**

# Step C: Estimate Portfolio Weights
# Apply the leverage factor to the standardized weights
# We use .mul(axis=0) to multiply the 2D DataFrame (weights) 
# by the 1D Series (lev_factor_series) along the rows (axis=0).
final_strategy_weights = standardized_weights.mul(lev_factor, axis=0).fillna(0).loc['1998-01-31':'2025-10-31']

display(final_strategy_weights)

,US,UK,EU,JP,CH,AU,EM
Date,,,,,,,
1998-01-31,-0.472992,0.472992,2.364962,1.418977,-1.418977,-2.364962,0.000000
1998-02-28,-1.223184,1.223184,2.038639,0.407728,-0.407728,-2.038639,0.000000
1998-03-31,-1.212638,-0.404213,2.021063,1.212638,0.404213,-2.021063,0.000000
1998-04-30,-1.178064,0.392688,1.963440,-0.392688,1.178064,-1.963440,0.000000
1998-05-31,-0.386018,0.386018,1.158055,-1.158055,1.930091,-1.930091,0.000000
...,...,...,...,...,...,...,...
2025-06-30,-0.363552,0.121184,-0.242368,0.363552,0.000000,-0.121184,0.242368
2025-07-31,0.000000,0.249579,-0.249579,0.374369,-0.374369,-0.124790,0.124790
2025-08-31,0.000000,0.130925,-0.261850,0.392776,-0.392776,-0.130925,0.261850
2025-09-30,0.000000,0.134469,-0.134469,0.403408,-0.403408,-0.268939,0.268939
2025-10-31,-0.343914,-0.515871,0.171957,0.515871,-0.171957,0.000000,0.343914

# Backtest

In [604]:
benchmark_TR = benchmark_TR.squeeze()
benchmark_XR = benchmark_XR.squeeze()

In [605]:
results = pmp.run_cc_strategy(
    weights = final_strategy_weights,
    returns = equity_returns,
    rf = riskfree,
    frequency = frequency,
    t_cost = t_cost, 
    benchmark = benchmark_XR,
    long_short = short,
    beta_neutral = beta_neutral
)

display(results)

,ret_net,ret_gross,ret_bm,turnover,tcost,ret_rf,w_US,w_UK,w_EU,w_JP,w_CH,w_AU,w_EM
Date,,,,,,,,,,,,,
1998-02-28,0.026632,0.026632,0.064065,0.000000,0.0,0.0039,-0.118010,0.116280,0.548921,0.334799,-0.331004,-0.550985,0.000000
1998-03-31,-0.041922,-0.041922,0.039375,2.669551,0.0,0.0039,-0.343372,0.343806,0.552220,0.103974,-0.108181,-0.548448,0.000000
1998-04-30,-0.033761,-0.033761,0.005630,3.089900,0.0,0.0043,-0.335145,-0.109634,0.558322,0.328774,0.112904,-0.555221,0.000000
1998-05-31,0.031486,0.031486,-0.015149,2.972600,0.0,0.0040,-0.328960,0.106943,0.558535,-0.109512,0.334522,-0.561528,0.000000
1998-06-30,-0.019375,-0.019375,0.020679,2.474164,0.0,0.0041,-0.113915,0.112338,0.333105,-0.333380,0.554557,-0.552705,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-06-30,0.012900,0.012900,0.040088,0.385802,0.0,0.0034,-0.172067,0.161372,-0.499317,0.490375,-0.328616,0.000000,0.348253
2025-07-31,-0.002115,-0.002115,0.009721,0.585564,0.0,0.0034,-0.509694,0.167479,-0.324350,0.495249,0.000000,-0.165955,0.337272
2025-08-31,0.003459,0.003459,0.022608,0.707732,0.0,0.0038,0.000000,0.328754,-0.329114,0.511002,-0.503335,-0.167550,0.160244
2025-09-30,0.000066,0.000066,0.029274,0.316055,0.0,0.0033,0.000000,0.166741,-0.341890,0.506863,-0.493416,-0.164694,0.326397
2025-10-31,-0.232269,-0.232269,0.016526,0.297429,0.0,0.0037,0.000000,0.253937,-0.139795,0.653235,-0.529389,-0.330817,0.092827

# Performance Statistics

In [606]:
pmp.run_perf_summary_benchmark_vs_strategy(results, alreadyXs = True)

                         Benchmark  Strategy
Arithm Avg Total Return     6.9887   -0.2680
Arithm Avg Xs Return        4.9498   -2.3069
Std Xs Returns             15.5470   14.8099
Sharpe Arithmetic           0.3184   -0.1558
Geom Avg Total Return       5.9249   -1.3186
Geom Avg Xs Return          3.8686   -3.3749
Sharpe Geometric            0.2488   -0.2279
Min Xs Return             -19.0940  -23.2269
Max Xs Return              12.8084   41.2975
Skewness                   -0.6049    2.0467
Excess Kurtosis             1.2459   29.3283
Alpha Arithmetic            0.0000   -1.1207
Alpha Arithmetic p-val      0.0002    0.6792
Alpha Geometric             0.0000   -2.1016
Beta 1                      1.0000   -0.2397
Beta 1 p-val                0.0000    0.0214
Tracking Error              0.0000   14.3552
Information Ratio           0.0000   -0.1464
AC 1                        0.0655   -0.1637
AC 2                       -0.0583    0.0294
AC 3                        0.0917    0.0308

In [607]:
factor_data = factors_data[["Mkt-RF", "SMB", "HML"]]
display(factors_data)
pmp.run_factor_regression(results_equities, factor_data, alreadyXs = False)

            Mkt-RF     SMB     HML      RF
1926-07-31  0.0289 -0.0255 -0.0239  0.0022
1926-08-31  0.0264 -0.0114  0.0381  0.0025
1926-09-30  0.0038 -0.0136  0.0005  0.0023
1926-10-31 -0.0327 -0.0014  0.0082  0.0032
1926-11-30  0.0254 -0.0011 -0.0061  0.0031
...            ...     ...     ...     ...
2025-06-30  0.0486  0.0083 -0.0160  0.0034
2025-07-31  0.0198  0.0027 -0.0127  0.0034
2025-08-31  0.0184  0.0387  0.0442  0.0038
2025-09-30  0.0339 -0.0184 -0.0105  0.0033
2025-10-31  0.0195 -0.0055 -0.0310  0.0037

[1192 rows x 4 columns]

NameError: name 'results_equities' is not defined