# Monetary Policy - Interest Rates

## Imports

In [1]:
import sys
import os
sys.path.append(os.path.abspath(".."))

import pmp_functions_v4 as pmp

import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt

path = "../../Data_Ryan"

## Data Setup & Cleaning

In [17]:
# --- Load Riskfree Rate ---
factors_data = pd.read_excel(
    f"{path}/Factors.xlsx",
    index_col = 0,
    parse_dates = True
)

factors_data.index = pd.to_datetime(factors_data.index, format='%Y%m')
factors_data.index = factors_data.index + pd.offsets.MonthEnd(0)
factors_data /= 100

riskfree = factors_data["RF"].resample('ME').last()
display(riskfree)

/var/folders/bl/ywj9s7j57_qf7pwls_sv_w9r0000gn/T/ipykernel_84522/711168680.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  factors_data = pd.read_excel(

1926-07-31    0.0022
1926-08-31    0.0025
1926-09-30    0.0023
1926-10-31    0.0032
1926-11-30    0.0031
               ...
2025-06-30    0.0034
2025-07-31    0.0034
2025-08-31    0.0038
2025-09-30    0.0033
2025-10-31    0.0037
Freq: ME, Name: RF, Length: 1192, dtype: float64

In [3]:
# --- Load Factors Data ---
famafrench_data = pd.read_csv(
    f"{path}/famafrench_factors.csv",
    index_col = 0,
    parse_dates = True
)

famafrench_data.index = pd.to_datetime(famafrench_data.index, format='%Y%m')
famafrench_data.index = famafrench_data.index + pd.offsets.MonthEnd(0)
famafrench_data /= 100
display(famafrench_data)

/var/folders/bl/ywj9s7j57_qf7pwls_sv_w9r0000gn/T/ipykernel_84522/2041547973.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  famafrench_data = pd.read_csv(

,MKT-RF,SMB,HML,RMW,CMA,UMD,BAB
DATE,,,,,,,
1980-01-31,0.000550,0.000188,0.000185,-0.000184,0.000189,0.000745,0.000695
1980-02-29,-0.000123,-0.000162,0.000059,-0.000095,0.000292,0.000789,-0.000132
1980-03-31,-0.001289,-0.000697,-0.000096,0.000182,-0.000105,-0.000958,-0.001181
1980-04-30,0.000396,0.000105,0.000103,-0.000218,0.000034,-0.000048,0.000574
1980-05-31,0.000526,0.000200,0.000038,0.000043,-0.000063,-0.000118,0.000618
...,...,...,...,...,...,...,...
2025-06-30,0.000486,-0.000002,-0.000160,-0.000320,0.000145,-0.000264,0.000527
2025-07-31,0.000198,-0.000015,-0.000127,-0.000029,-0.000208,-0.000096,0.000184
2025-08-31,0.000185,0.000488,0.000442,-0.000068,0.000207,-0.000354,0.000646
2025-09-30,0.000339,-0.000218,-0.000105,-0.000203,-0.000222,0.000466,0.000189
2025-10-31,0.000195,-0.000131,-0.000310,-0.000522,-0.000403,NaN,NaN

In [4]:
# --- Benchmark Data ---
benchmark_data = pd.read_excel(
    f"{path}/Benchmarks.xlsx",
    index_col = 0,
    parse_dates = True
)
display(benchmark_data)
benchmark_data.index = pd.to_datetime(benchmark_data.index)
benchmark_data = benchmark_data.resample('ME').last()

benchmark_TR = benchmark_data[['MSCI World']].pct_change()
benchmark_XR = benchmark_TR.sub(riskfree, axis = 0)

benchmark_TR.columns = ['Benchmark Total Return']
benchmark_XR.columns = ['Benchmark Excess Return']
benchmark_returns = pd.concat([benchmark_TR, benchmark_XR], axis = 1).dropna()

display(benchmark_returns)

               S&P 500  MSCI World
Date
1986-12-31    242.1700         NaN
1987-01-30    274.7800         NaN
1987-02-27    285.6377         NaN
1987-03-31    293.8792         NaN
1987-04-30    291.2698         NaN
...                ...         ...
2025-07-31  14412.5527   8214.1572
2025-08-29  14704.7217   8431.0801
2025-09-30  15240.0381   8705.7139
2025-10-31  15596.8623   8881.7959
2025-11-28  15635.0938   8909.7607

[468 rows x 2 columns]

            Benchmark Total Return  Benchmark Excess Return
1991-01-31                0.034364                 0.029164
1991-02-28                0.090450                 0.085650
1991-03-31               -0.031331                -0.035731
1991-04-30                0.005910                 0.000610
1991-05-31                0.020740                 0.016040
...                            ...                      ...
2025-06-30                0.043488                 0.040088
2025-07-31                0.013121                 0.009721
2025-08-31                0.026408                 0.022608
2025-09-30                0.032574                 0.029274
2025-10-31                0.020226                 0.016526

[418 rows x 2 columns]

In [5]:
# --- Load Monetary Policy Data ---
monetary_data = pd.read_excel(
    f"{path}/2_year_yields.xlsx",
    index_col = 0,
    parse_dates = True
)
monetary_data.index = pd.to_datetime(monetary_data.index)
monetary_data.index = monetary_data.index + pd.offsets.MonthEnd(0)

display(monetary_data)

                 US     UK     EU     JP     CH      AU     EM
Date
1980-01-31  11.8790    NaN    NaN    NaN    NaN     NaN    NaN
1980-02-29  14.7390    NaN    NaN    NaN    NaN     NaN    NaN
1980-03-31  14.6390    NaN    NaN    NaN    NaN     NaN    NaN
1980-04-30  10.8190    NaN    NaN    NaN    NaN     NaN    NaN
1980-05-31   9.2590    NaN    NaN    NaN    NaN     NaN    NaN
...             ...    ...    ...    ...    ...     ...    ...
2025-06-30   3.7192  3.817  1.861  0.750 -0.048  3.2075  1.368
2025-07-31   3.9571  3.861  1.964  0.823 -0.082  3.3524  1.435
2025-08-31   3.6167  3.943  1.940  0.871 -0.103  3.3380  1.414
2025-09-30   3.6083  3.985  2.019  0.944 -0.096  3.4888  1.464
2025-10-31   3.5736  3.771  1.968  0.925 -0.138  3.5570  1.410

[550 rows x 7 columns]

In [6]:
# --- Load Interest Rate Futures ---
interest_futures = pd.read_excel(
    f"{path}/Interest Rates Data.xlsx",
    index_col = 0,
    parse_dates = True
)
interest_futures.index = pd.to_datetime(interest_futures.index)
interest_futures.index = interest_futures.index + pd.offsets.MonthEnd(0)

display("Interest Rate Futures:")
display(interest_futures)

'Interest Rate Futures:'

                 CH      EU      AU     US     EM     UK       JP
Date
1998-01-31      NaN     NaN     NaN    NaN    NaN    NaN      NaN
1998-02-28   94.564     NaN  97.169  95.44  77.41    NaN  98.3323
1998-03-31   94.334     NaN  97.251  95.49  78.42    NaN  98.4613
1998-04-30   94.286     NaN  97.180  95.47  79.49    NaN  98.4910
1998-05-31   94.286     NaN  97.221  95.40  78.30    NaN  98.5456
...             ...     ...     ...    ...    ...    ...      ...
2025-07-31  100.732  98.015  96.680  99.27  97.94  97.65  99.4600
2025-08-31  100.732  97.970  96.660  99.27  96.99  97.38  99.4600
2025-09-30  100.732  97.975  96.490  99.27  96.60  97.26  99.4600
2025-10-31  100.732  97.965  96.400  99.27  96.60  97.97  99.4600
2025-11-30  100.732  97.955  96.330  99.27  96.65  98.00  99.4600

[335 rows x 7 columns]

## Global Variables

In [7]:
frequency = 1
t_cost = 0
# window = 12*20
short = True
beta_neutral = False
target_vol = 0.10
rf = riskfree
benchmark = benchmark_data

## Signal Generation

In [8]:
# --- Compute Monetary Policy Signal ---
monetary_policy_signal = monetary_data.diff(12)
display(monetary_policy_signal)

                US     UK     EU     JP     CH      AU     EM
Date
1980-01-31     NaN    NaN    NaN    NaN    NaN     NaN    NaN
1980-02-29     NaN    NaN    NaN    NaN    NaN     NaN    NaN
1980-03-31     NaN    NaN    NaN    NaN    NaN     NaN    NaN
1980-04-30     NaN    NaN    NaN    NaN    NaN     NaN    NaN
1980-05-31     NaN    NaN    NaN    NaN    NaN     NaN    NaN
...            ...    ...    ...    ...    ...     ...    ...
2025-06-30 -1.0343 -0.404 -0.972  0.384 -0.852 -0.9559 -0.290
2025-07-31 -0.3004  0.035 -0.567  0.367 -0.742 -0.5227 -0.087
2025-08-31 -0.2998 -0.166 -0.451  0.497 -0.693 -0.3335 -0.120
2025-09-30 -0.0328  0.002 -0.049  0.552 -0.532 -0.1547  0.007
2025-10-31 -0.5966 -0.666 -0.313  0.479 -0.528 -0.4895 -0.072

[550 rows x 7 columns]

In [9]:
# --- Composite Signal Construction ---
# Logic: For Interest Rates, we want decreasing Monetary Policy Yields (-)
monetary_policy_signal = - monetary_policy_signal

display("Monetary Policy Signal:")
display(monetary_policy_signal)

'Monetary Policy Signal:'

                US     UK     EU     JP     CH      AU     EM
Date
1980-01-31     NaN    NaN    NaN    NaN    NaN     NaN    NaN
1980-02-29     NaN    NaN    NaN    NaN    NaN     NaN    NaN
1980-03-31     NaN    NaN    NaN    NaN    NaN     NaN    NaN
1980-04-30     NaN    NaN    NaN    NaN    NaN     NaN    NaN
1980-05-31     NaN    NaN    NaN    NaN    NaN     NaN    NaN
...            ...    ...    ...    ...    ...     ...    ...
2025-06-30  1.0343  0.404  0.972 -0.384  0.852  0.9559  0.290
2025-07-31  0.3004 -0.035  0.567 -0.367  0.742  0.5227  0.087
2025-08-31  0.2998  0.166  0.451 -0.497  0.693  0.3335  0.120
2025-09-30  0.0328 -0.002  0.049 -0.552  0.532  0.1547 -0.007
2025-10-31  0.5966  0.666  0.313 -0.479  0.528  0.4895  0.072

[550 rows x 7 columns]

## Asset Returns

In [10]:
# --- Interest Rate Returns ---
interest_XR = interest_futures.pct_change()
interest_XR = interest_XR.resample('ME').last()

display(interest_XR)

,CH,EU,AU,US,EM,UK,JP
Date,,,,,,,
1998-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998-03-31,-0.002432,NaN,0.000844,0.000524,0.013047,NaN,0.001312
1998-04-30,-0.000509,NaN,-0.000730,-0.000209,0.013644,NaN,0.000302
1998-05-31,0.000000,NaN,0.000422,-0.000733,-0.014970,NaN,0.000554
...,...,...,...,...,...,...,...
2025-07-31,0.000000,-0.001019,-0.002281,0.000000,0.000000,-0.001840,0.000000
2025-08-31,0.000000,-0.000459,-0.000207,0.000000,-0.009700,-0.002765,0.000000
2025-09-30,0.000000,0.000051,-0.001759,0.000000,-0.004021,-0.001232,0.000000
2025-10-31,0.000000,-0.000102,-0.000933,0.000000,0.000000,0.007300,0.000000
2025-11-30,0.000000,-0.000102,-0.000726,0.000000,0.000518,0.000306,0.000000

## Portfolio Construction

In [11]:
# --- Ranking & Weighting ---
# Rank countries 1 to N for each month based on the raw signal.
# axis = 1 means we rank across columns (countries).

rank = monetary_policy_signal.rank(axis = 1, method = 'average', ascending = False)
display(rank)

             US   UK   EU   JP   CH   AU   EM
Date
1980-01-31  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1980-02-29  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1980-03-31  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1980-04-30  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1980-05-31  NaN  NaN  NaN  NaN  NaN  NaN  NaN
...         ...  ...  ...  ...  ...  ...  ...
2025-06-30  1.0  5.0  2.0  7.0  4.0  3.0  6.0
2025-07-31  4.0  6.0  2.0  7.0  1.0  3.0  5.0
2025-08-31  4.0  5.0  2.0  7.0  1.0  3.0  6.0
2025-09-30  4.0  5.0  3.0  7.0  1.0  2.0  6.0
2025-10-31  2.0  1.0  5.0  7.0  3.0  4.0  6.0

[550 rows x 7 columns]

In [12]:
# --- Standardize Ranks ---
# Convert ranks into Z-scores (Weights) that sum to zero.
# Weight = (Rank - Mean_Rank) / Std_Dev_Rank

rank_mean = rank.mean(axis = 1)
rank_stds = rank.std(axis = 1)
standardized_weights = rank.sub(rank_mean, axis = 0).div(rank_stds, axis = 0)

display(standardized_weights)

                 US       UK       EU       JP       CH       AU       EM
Date
1980-01-31      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1980-02-29      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1980-03-31      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1980-04-30      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1980-05-31      NaN      NaN      NaN      NaN      NaN      NaN      NaN
...             ...      ...      ...      ...      ...      ...      ...
2025-06-30 -1.38873  0.46291 -0.92582  1.38873  0.00000 -0.46291  0.92582
2025-07-31  0.00000  0.92582 -0.92582  1.38873 -1.38873 -0.46291  0.46291
2025-08-31  0.00000  0.46291 -0.92582  1.38873 -1.38873 -0.46291  0.92582
2025-09-30  0.00000  0.46291 -0.46291  1.38873 -1.38873 -0.92582  0.92582
2025-10-31 -0.92582 -1.38873  0.46291  1.38873 -0.46291  0.00000  0.92582

[550 rows x 7 columns]

In [13]:
# --- Volatility Scaling (Risk Management) ---
# Step A: Calculate 'Raw' Strategy Returns (Before Vol Scaling)
# IMPORTANT: Shift weights by 1 to trade next month's return.
strategy_raw_ret = (standardized_weights.shift(1) * interest_XR).sum(axis=1)

# Step B: Forecast Volatility
# Calculate realized volatility over a 36-month rolling window (annualized)
# We use the raw strategy's realized vol to estimate future volatility.
expected_vol = strategy_raw_ret.rolling(window = 36).std() * np.sqrt(12)

# We use previous rolling volatility (shift 1) to size today's position
lev_factor = target_vol / expected_vol.shift(1)

## **⭐ CRITICAL CHANGE: Scaling the Weights**

# Step C: Estimate Portfolio Weights
# Apply the leverage factor to the standardized weights
# We use .mul(axis=0) to multiply the 2D DataFrame (weights) 
# by the 1D Series (lev_factor_series) along the rows (axis=0).
final_strategy_weights = standardized_weights.mul(lev_factor, axis=0).fillna(0).loc['1998-04-30':'2025-10-31']

display(final_strategy_weights)

,US,UK,EU,JP,CH,AU,EM
Date,,,,,,,
1998-04-30,-253.838934,84.612978,423.064890,-84.612978,253.838934,-423.064890,0.000000
1998-05-31,-33.588890,33.588890,100.766671,-100.766671,167.944451,-167.944451,0.000000
1998-06-30,-167.051001,33.410200,100.230601,-33.410200,167.051001,-100.230601,0.000000
1998-07-31,-158.359923,-95.015954,95.015954,-31.671985,158.359923,31.671985,0.000000
1998-08-31,-131.188544,-78.713127,-26.237709,26.237709,78.713127,131.188544,0.000000
...,...,...,...,...,...,...,...
2025-06-30,-2.906286,0.968762,-1.937524,2.906286,0.000000,-0.968762,1.937524
2025-07-31,0.000000,1.940780,-1.940780,2.911170,-2.911170,-0.970390,0.970390
2025-08-31,0.000000,0.978563,-1.957126,2.935689,-2.935689,-0.978563,1.957126
2025-09-30,0.000000,0.979967,-0.979967,2.939901,-2.939901,-1.959934,1.959934
2025-10-31,-1.970604,-2.955907,0.985302,2.955907,-0.985302,0.000000,1.970604

## Backtest

In [14]:
benchmark_TR = benchmark_TR.squeeze()
benchmark_XR = benchmark_XR.squeeze()

In [15]:
results = pmp.run_cc_strategy(
    weights = final_strategy_weights,
    returns = interest_XR,
    rf = riskfree,
    frequency = frequency,
    t_cost = t_cost, 
    benchmark = benchmark_XR,
    long_short = short,
    beta_neutral = beta_neutral
)

display(results)

,ret_net,ret_gross,ret_bm,turnover,tcost,ret_rf,w_US,w_UK,w_EU,w_JP,w_CH,w_AU,w_EM
Date,,,,,,,,,,,,,
1998-05-31,-0.039278,-0.039278,-0.015149,0.000000,0.0,0.0040,-0.333072,0.111117,0.555550,-0.111161,0.333333,-0.555767,0.000000
1998-06-30,-0.056437,-0.056437,0.020679,301.300012,0.0,0.0041,-0.111178,0.111333,0.333937,-0.333505,0.554729,-0.555317,0.000000
1998-07-31,-0.123073,-0.123073,-0.005774,299.691802,0.0,0.0040,-0.555354,0.111106,0.333182,-0.111003,0.555712,-0.333643,0.000000
1998-08-31,0.213589,0.213589,-0.137443,284.492611,0.0,0.0043,-0.555880,-0.333019,0.332770,-0.111101,0.556847,0.110383,0.000000
1998-09-30,0.980753,0.980753,0.013398,235.583250,0.0,0.0046,-0.555688,-0.332889,-0.111423,0.110132,0.332322,0.557546,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-06-30,0.001289,0.001289,0.040088,5.038436,0.0,0.0034,-0.166693,0.167633,-0.499957,0.499937,-0.333350,0.000000,0.332431
2025-07-31,0.002402,0.002402,0.009721,5.145921,0.0,0.0034,-0.500326,0.166377,-0.333233,0.500188,0.000000,-0.166441,0.333436
2025-08-31,-0.013687,-0.013687,0.022608,5.322665,0.0,0.0038,0.000000,0.333258,-0.333243,0.501075,-0.500290,-0.166467,0.165668
2025-09-30,-0.007454,-0.007454,0.029274,4.871378,0.0,0.0033,0.000000,0.166825,-0.333442,0.500668,-0.500244,-0.166313,0.332507
2025-10-31,0.009082,0.009082,0.016526,4.879802,0.0,0.0037,0.000000,0.167551,-0.166833,0.499521,-0.500035,-0.333132,0.332928

## Portfolio Statistics

In [16]:
pmp.run_perf_summary_benchmark_vs_strategy(results, alreadyXs = True)

                         Benchmark  Strategy
Arithm Avg Total Return     6.6556    8.1174
Arithm Avg Xs Return        4.6422    6.1040
Std Xs Returns             15.5692   24.0231
Sharpe Arithmetic           0.2982    0.2541
Geom Avg Total Return       5.5714    6.1226
Geom Avg Xs Return          3.5410    4.0922
Sharpe Geometric            0.2274    0.1703
Min Xs Return             -19.0940  -15.2200
Max Xs Return              12.8084   98.0753
Skewness                   -0.5976    8.9752
Excess Kurtosis             1.2385  119.5568
Alpha Arithmetic           -0.0000    5.7346
Alpha Arithmetic p-val      0.6550    0.2528
Alpha Geometric             0.0000    3.7224
Beta 1                      1.0000    0.0796
Beta 1 p-val                0.0000    0.3547
Tracking Error              0.0000   24.0277
Information Ratio           0.0000    0.1549
AC 1                        0.0631    0.1683
AC 2                       -0.0572   -0.1022
AC 3                        0.0934   -0.0302